/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15-Feb-2015, 23:42:52
    Author     : Jonathan
*/
#yendoi{
    #iddi-admin-area {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 50px;
        background: white;
        color: #ddd;
    }
    * {
        box-sizing:border-box;
    }
    #iddi-loading-message{
        padding:20px;
        color:white;
        font-size:20px;
    }
    #iddi-admin-entities {
        width: $left-side-panel-width;
        background: #f6f6f6;
        color: #444;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        > * {
            padding:5px 16px;
        }
        h2{
            margin: 15px 0 0;
            text-transform: uppercase;
            font-size: 16px;
        }
        ul{
            margin:0;
            padding:0;
        }
        li{
            list-style-type:none;
            padding:6px;
            margin:0;
            line-height:16px;
            vertical-align:middle;
            cursor:pointer;
            position:relative;
            > i:first-child {
                width: 38px;
                text-align: center;                
                position: relative;
            }
            &:hover{
                background:#494949;
                color:#ddd;
            }
            i.fa-angle-right{
                margin-right: 8px;
                font-size: 18px;
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -9px;
            }
        }
    }
    #iddi-admin-main-area{
        position: absolute;
        top: 0;
        left: $left-side-panel-width;
        height: 100%;
        right:0;
        overflow:scroll;
        background:#dfdfdf;
        h1{
            background: $good-color;
            padding: 10px 15px;
            margin: 0 1px;
            color: white;
            font-size: 20px;   
            font-weight:100;
            div {
                float: right;
                margin: -4px 0 0 4px;                
                i{
                    font-size: 12px;
                    padding: 5px 15px;
                    color: white;
                    border-radius: 4px;
                    cursor:pointer;
                    background: $good-color;
                    margin-left:5px;
                }
                a{
                    color:white;
                }
                i span {
                    font-family:"Open Sans",arial;
                    margin-left:5px;
                }
            }
        }

        p.y-helptext{
            margin:0;
            padding:0;
            font-size:12px;
        }

        table{
            border-spacing: 1px;
            width: 100%;
            padding:15px;
            th {
                background: #ddd;
                color: #444;
                text-align: left;
                padding: 8px 3px;
                &:first-child{
                    width:1px;
                    min-width:50px;
                    text-align:right;
                }                
            }
            tr{
                td{
                    background:white;
                    color:#444;
                    padding:4px;
                    cursor:pointer;
                    vertical-align:top;
                    &:first-child{
                        background: #ddd;
                        color: #444;
                        text-align:right;
                    }
                }
                &:nth-child(odd){
                    td{
                        background:#f7f7f7;
                        &:first-child{
                            background: #ddd;
                            color: #444;
                            text-align:right;
                        }
                    }
                }
            }
        }
    }

    form{
        background:#f2f2f2;
        margin:1px;

        h2{
            color: #444;
            margin: -4px 0 0 0;
            padding: 15px 15px 15px 15px;
            text-transform: uppercase;
            font-size: 23px;
            background: #ddd;
        }
        fieldset{
            border:none;
            margin: 0;
            padding: 0 1rem;
            label,.iddi-label{
                display: block;
                padding: 0.5rem 0;
                border-bottom: solid 1px #dfdfdf;
                margin: 3px 0;
                vertical-align: middle;
                line-height: 41px;
                font-weight: 500;
                > span{
                    text-transform: uppercase;
                    display: inline-block;
                    width: 20%;
                    max-width: 150px;
                    text-align: right;
                    margin-right: -4px;
                    color: #444;
                    vertical-align: top;
                    border-right: solid 4px #ccc;
                    padding-right: 10px;
                    &.y-readonly-value{
                        color:#444;
                        margin-left:10px;
                        font-size:16px;
                        font-weight:100;
                        border:none;
                        text-align:left;
                    }
                    &.help{
                        display: block;
                        font-size: 0.8rem;
                        width: auto;
                        border: none;
                        padding: 0.5rem;
                        margin: 0.5rem 0;
                        text-align: left;
                        max-width: none;
                        text-transform: none;
                        line-height: 1.2rem;
                        font-weight: normal;
                        background: rgba(255,255,255,0.8);
                    }
                }
                > div{
                    display:inline-block;
                    color:#222;
                    font-size:1.1rem;
                    width:75%;
                    position:relative;
                }
                label.iddi-radio{
                    display:inline-block;
                    border:solid 1px #aaa;
                    border-radius:5px;
                    padding:4px 5px 4px 4px;
                    margin-right:5px;
                    input{
                        position:relative;
                        top:2px;
                    }
                    span{
                        width:auto;
                        margin-left:2px;
                    }
                }
                input{
                    display: inline-block;
                    padding:13px 5px;
                    border: solid 1px $input-borders;
                    &[type="file"] {
                        padding: 0;
                        margin: 0;
                        border: 0;
                        display: block;                    
                    }
                }
                select{
                    display: inline-block;
                    padding:11px 5px;
                    border: solid 1px #ccc;                    
                }
                img{
                    min-height:40px;
                    width: auto;
                }
                &.iddi-text-field{
                    input{
                        width:75%;
                    }
                }
                &.iddi-numeric-field{
                    width: 30%;
                    display: inline-block;
                    margin-right: 3%;
                    input{
                        width:30px;
                    }
                }
                textarea{
                    width:75%;
                    min-height:200px;
                    padding:3px 5px;
                    border: solid 1px #ccc;
                }
            }
        }
    }
    .iddi-form-tabs{
        display: block;
        ul{
            margin:0;
            padding:0;
            background:#444;
        }
        li{
            margin:0;
            padding:10px;
            color:white;
            text-transform:uppercase;
            display:inline-block;
            &.active{
                background:white;
                color:#222;
            }
        }
    }
}

html{
    transition:all 0.3s ease;
    &.showing-right-panel{
        position:absolute;
        left:0;
        right:320px;
    }
    &.showing-left-panel{
        position:absolute;
        left:320px;
        right:0;
    }
}