/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16-Feb-2015, 22:42:04
    Author     : Jonathan
*/
#iddi-admin-area #iddi-admin-main-area {
    .dashboard-row{
        display: flex;

        .iddi-component-jumbotron{            
            display:flex;
            align-items: center;
            justify-content: center;
            .jumbotron-graphic{
                display:inline-block;
                flex:1;
                max-width:200px;
                text-align:center;                
                .fa{
                    font-size:8rem;
                    vertical-align:middle;
                }
            }
            .y-jumbotron-content{
                align-self: flex-start;
                flex:1;
                max-width:none;
                color:#444;
                padding:0 1rem;                
                p{
                    color:#444;
                    font-size:0.8rem;
                    margin:5px 0;
                }
                h1 + p {
                    font-size:1rem;
                }
            }
        }

        .iddi-dashboard-component{
            background:white;
            min-height:100px;
            h1{
                color:#1ab394;
                border-bottom:solid 1px #dfdfdf;
                padding:10px 0;
                background:none;                
            }
            h2,h3,h4{
                font-size:1rem;
            }
            button{
                float:right;
                color:white;
                background-color:$good-color;
                border:none;
                padding:10px 15px;
                cursor:pointer;
            }
            nav{
                margin-top:0.5rem;
                a{
                    display:block;
                    color:#444;
                    padding:0.5rem;
                    padding-left:30px;
                    margin:0 -0.5rem;
                    &:hover{
                        background:#ccc;
                    }
                    i{
                        margin-left: -20px;
                        color: #777;
                        width: 16px;
                        display: inline-block;
                    }
                }
            }
        }
        .iddi-component-headline{            
            position:relative;
            padding-bottom:15px;
            p{
                color:#444;
                margin:0;
                padding:15px 10px 0 0;
                &.iddi-headline-figure{
                    font-size:34px;
                    font-weight:bold;
                }
                &.iddi-headline-subtitle{
                    font-size:16px;
                    font-weight:100;
                    padding:5px 0;
                }
                &.iddi-velocity-figure{
                    position: absolute;
                    bottom:15px;
                    right:5px;
                    &.iddi-velocity-up{
                        color:$good-color;
                    }
                    &.iddi-velocity-down{
                        color:$bad-color;
                    }
                    &.iddi-velocity-steady{
                        color:$ok-color;
                    }
                }
                &.y-sparkline{
                    position: absolute;
                    bottom:45px;
                    right:5px;
                }
            }
        }
    }
    .y-dashboard-component-holder{
        flex:1;
        margin:1px;
        background:white;
        padding:10px;
        &.y-flex-2{
            flex:2;
        }
        &.y-flex-3{
            flex:3;
        }
        &.y-flex-4{
            flex:4;
        }
        &.y-flex-5{
            flex:5;
        }
        &.y-flex-6{
            flex:6;
        }
        &.y-flex-7{
            flex:7;
        }
        &.y-flex-8{
            flex:8;
        }
        &.y-flex-9{
            flex:9;
        }
        &.y-flex-10{
            flex:10;
        }
        &.y-flex-11{
            flex:11;
        }
        &.y-flex-12{
            flex:12;
        }

    }
}