#iddi-main-toolbar{
    position: fixed;
    top: 0px;    
    width: 100%;
}


#iddi-main-toolbar,
.iddi-toolbar,
.iddi-fixed-toolbar,
.iddi-floating-toolbar,
.flex-toolbar{    
    margin: 0;
    padding: 0;
    background: rgb(68, 68, 68);    
    h6 {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 120px;
        height: 50px;
        background: url(/iddi/icons.png) no-repeat 0 -512px;
        float: left;
        margin: -2px 0px 0px 0px;
        padding: 0px;
        span {
            display: none;
        }
    }

    h2{
        font-weight: normal;
        padding:5px;
        font-size:15px;
    }

    i{
        color:white;
        font-size:14px;
        padding:15px;
        line-height: 19px;
        min-width: 46px;
        min-height: 50px;        
        white-space: nowrap;
        position:relative;
        > span{
            margin-left: 12px;
            font-family: "FiraSans",Arial;
            padding-right: 7px;
        }
        .yendoi-changelog-count{
            background:red;
            color:white;
            font-size:11px;
            border-radius:50%;
            width:21px;
            height:21px;
            overflow:hidden;
            padding:0;
            margin:0;
            position: absolute;
            bottom: 5px;
            right: 0;
            display: none;
            text-align: center;
            line-height: 21px;

        }        
        &[y-cmd]:hover{
            background: rgb(98, 98, 98);
        }
        &.fixed{            
            padding-right:10px;
            border-right:solid 1px #999;
        }        
        &:hover{
            cursor: pointer;
            background:#666;
        }
        &.y-active{
            background:#f6f6f6;
            color:#333;
        }
        &.y-dropdown{
            position:relative;
            z-index:2;
            > div {
                display:none;
            }            
        }
        &.y-dropdown.y-dropdown-open{
            background:#555;           
            > div {
                background:#555;
                display:block;
                position: absolute;
                top:50px;
                right:0;
            }
            i {
                display:block;                
                text-align: left;
                max-width: none;
            }
        }
    }
    select{
        border: none;
        background: #444;
        color: white;        
        font-size:15px;
        padding-left:10px;
        option{
            padding:5px;
        }
    }

    .y-confirm{
        background: #090;
        float: right;
        &:hover{
            background: #0a0;
        }
    }

    .y-cancel{
        float: right;
    }    
}

.iddi-floating-toolbar{
    position: absolute;
    z-index: 10000009;
    color: white;        
    white-space: nowrap;
}


.iddi-fixed-toolbar {
    display:inline-block;        
    i{
        -webkit-transition:all 0.25s linear;
    }
    &.y-preplinks{
        i{
            opacity:0;
            -webkit-transform:scale(.95);
            -webkit-transition:all 0.25s linear;
            .y-clicked{
                -webkit-animation-delay:0.1s;
                -webkit-transform:scale(1.1);
            }
        }
    }    
    &.y-nolinks{
        i{
            opacity:0;
            -webkit-transform:scale(1.05);
            -webkit-transition:all 0.25s linear;
        }
    }
}


.flex-toolbar{
    display:flex;
    > * {
        flex:1;
    }
}

#html_selection_toolbar{
    .fa-caret-down{
        position:absolute;
        left:50%;
        top:100%;
        margin-left:-8px;
        margin-top: -10px;
        font-size: 24px;
        color:#444;
    }
}