html[yendoi-mode=admin]{
    overflow:hidden;
    body{
        display:none;
    }
}

html[yendoi-mode=edit]{
    #yendoi{
        z-index:100000009;
        position:absolute;
        top:0;
        left:0;
        bottom:0;        
    }
}