#selection-marker-left,
#selection-marker-right{
    height:15px;
    width:2px;
    border-left:solid 2px #444;
    position:absolute;
    top:0;
    left:0;
    display:none;
    &.visible{
        display:block;
    }
}