yendoi {  
    #side-panels{

        > div {
            position: fixed;
            width: 320px;
            right: 0;
            bottom: 0;
            top: 50px;
            background: #f6f6f6;
            color: #ddd;
            z-index:9999999999;
            display:none;
            border-left:solid 1px #444;
            h2{
                font-weight: normal;
                padding:5px 10px;
                font-size:15px;
                margin:0;
                color:#444;
            }        
            select{
                width:100%;
            }

            &.y-open{
                display:block;
            }

            dl{
                color:#444;
                font-size:12px;
                dt{
                    width:32%;
                    text-align:right;
                    font-weight: bold;
                    margin:5px 0;
                    display:inline-block;
                }
                dd{
                    width:65%;
                    padding-left:3%;
                    margin:5px 0;
                    display:inline-block;
                }
            }

            .iddi-fixed-toolbar{
                width:100%;
            }

            #library-library{
                .iddi-fixed-toolbar{
                    position:absolute;
                    z-index:2;
                }

            }
        }
    }
    .fa-close{
        position:absolute;
        right:10px;
        line-height:30px;
    }
}