#iddi-admin-area{
    #iddi-admin-main-area{
        table{            
            border-collapse:collapse;            
            tr{
                td,th{
                    border-bottom:solid 1px #999;
                    padding:10px 6px;
                    transition:all 0.25s linear;   
                    border-right: solid 1px #ccc;
                    border-left: solid 1px #ccc;
                    font-size:13px;
                    &.focus,
                    &:focus{                    
                        background:#aaa !important;
                    }
                }
                td{
                    &.action{
                        background:#ddd !important;
                        text-align:center;
                        i{
                            font-size:1.4em;
                        }
                    }
                    &.keyfield {
                        font-size:16px;
                        font-weight: bold;
                    }
                }
                th{
                    vertical-align: bottom;
                    width:1px;
                    padding-top: 15px;
                    text-transform: uppercase;                    
                    border-bottom: solid 4px #444;
                    background-color: #f2f2f2;
                    border-left: none;
                    border-right: solid 1px #f0f0f0;                    
                    &.text{
                        width:10px;
                    }
                }
            }
        }
    }
}