#iddi-admin-area {
    .tabs{
        > ul{
            margin:0;
            padding:0;      
            background:#ccc;
            line-height: 38px;
            li{
                display:inline-block;
                margin:0 1px;
                padding:5px 10px;   
                font-size: 14px;
                text-transform: uppercase;
                cursor:pointer;
                &.active{
                    background:white;
                    position:relative;
                    top:2px;
                }
                
            }
        }
        > div {
            height:300px;
            overflow:auto;
            display:none;            
            &.active{
                display:block;
            }
        }
        &.y-form-tabs{
            li{
                color:#444;
                &.active{
                    background:#f2f2f2;
                }
            }
            > div {
                height:auto;
            }
        }
    }
    
    .htmleditor, textarea{
        height:300px;
        overflow:auto;
        border:solid 1px #ccc;
        background:white;
        padding:10px;
    }
    
    textarea{
        width:100% !important;
    }
}