#y-tooltip{
    position:absolute;
    z-index:99999999999;
    .fa{
        position: absolute;
        color: #444;
        font-size: 30px;        
    }
    &.y-tooltip-arrow-top-left{
        .fa-caret-left,
        .fa-caret-right,
        .fa-caret-down{
            display:none;
        }
        .fa-caret-up{
            top:0;
            left:20px;
            display:block;
        }
    }
    &.y-tooltip-arrow-top-right{
        .fa-caret-left,
        .fa-caret-right,
        .fa-caret-down{
            display:none;
        }
        .fa-caret-up{
            top:0;
            right:20px;
            display:block;
        }
    }
    &.y-tooltip-arrow-bottom-left{
        .fa-caret-left,
        .fa-caret-right,
        .fa-caret-down{
            display:none;
        }
        .fa-caret-up{
            top:100%;
            left:20px;
            display:block;
        }
    }    
    &.y-tooltip-arrow-bottom-right{
        .fa-caret-left,
        .fa-caret-right,
        .fa-caret-down{
            display:none;
        }
        .fa-caret-up{
            top:100%;
            right:20px;
            display:block;
        }
    }     
    p{
        width:300px;
        padding:15px;
        background:$main-color;
        color:#ddd;
        margin:20px;        
    }
}