#y-banner{
    position:fixed;
    top:75px;
    right:-400px;
    padding:0 15px;
    opacity:0;
    background:#1a94b3;
    -webkit-transition:all 0.5s linear;    
    color:white;
    line-height:60px;
    font-size:20px;
    z-index:200000000000;
    > * {
        -webkit-transition:all 0.25s linear;  
        opacity:0;
        margin-left:15px;       
    }
    &.y-open{
        height:60px;    
        right:0;
        opacity:1;        
        -webkit-transition:all 0.15s linear;    
        > * {
            opacity:1;
            margin-left:0px;            
        }        
    }
    &.error{
        background:#b3241a;
    }
    &.y-next-message{
        > * {
            opacity:0;
            margin-left:5px;
        }
    }
    &.y-prep-message{
        > * {
            opacity:0;
            margin-left:-5px;
        }
    }
    i{
        margin:0 7px;
    }
}

