#yendoi-popupmenu{
    position: absolute;
    z-index: 10000009;
}



span#y-fieldname {
    margin-left: 10px;
    text-transform: uppercase;
}

.y-hide{
    display:none;
}

yendoi * {    
    font-family: "FiraSans",Helvetica,Arial,Geneva,sans-serif;
}