#yendoi {  
    .y-paginator{
        margin:10px;
        button{
            padding: 5px;
            margin: 0;
            width: 35px;
            height: 35px;
            border: none;
            cursor: pointer;
            &:hover{
                background:#6a94b3;
            }
            &.y-active-page{
                background:#1a94b3;
            }
        }
    }
}