yendoi {  
    .y-search-bar{
        background:#1ab394;
        color: white;
        font-size: 21px;
        padding: 10px 15px;
        margin: 1px;
        input,select{
            padding:4px;
            border:solid 1px $input-borders;
            margin-left:5px;
            height: 35px;
            max-width:150px;
        }    
        button{
            padding: 5px 10px;
            margin: 0 20px 0 0;
            height: 36px;        
            cursor: pointer;
        }
    }
}