/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Feb-2016, 23:33:11
    Author     : Jonathan
*/

#internal-links{
    ul{
        margin:0;
        max-height: 70%;
        overflow-y: auto;
    }
    li{
        background:#777;
        color:white;
        text-align: left;
        border-bottom:#444;
        margin:0;
        padding:0.5rem;
        font-size:0.9rem;
        list-style-type:none;
        i{
            position:absolute;
            right:0;
            width:20px;
            cursor:pointer;
            &:hover{
                color:#aaa;
            }
        }
        &.selected{
            background:#444;
        }
        &.up{
            border-bottom:solid 1px white;
            text-transform: uppercase;
        }
    }
    form{
        position:relative;
        height:80%;
        ul{
            max-height:80%;
            overflow-y:auto;
        }
    }
}