<h1>iddi.template.addEntity.notanentity</h1>
<h2>Cause</h2>
<p>This error is thrown when you attempt to add an entity to a template object that is not a valid object type.</p>
<h2>Fix</h2>
<p>To fix it make sure that $entity passed in is an iddiXmlIddi_Entity object, or if you are using a custom object make sure that it extends iddiXmlIddi_Entity</p>
<p>For example</p>
<pre style="background:#ccc;line-spacing:1em;">
    class iddiXmlIddi_CustomEntity extends iddiXmlIddi_Entity{
        //Some custom code in here
    }
    
    $myent=new iddiXmlIddi_CustomEntity();
    $mytemplate->addEntity($myent);
</pre>    