<?xml version="1.0" encoding="utf-8"?>
<iddi:toolscollection xmlns:iddi="http://d.yendoi.org">
    <iddi:tool id="main-toolbar" autostart="yes">
        <div id="iddi-main-toolbar" class="iddi iddi-toolbar">
            <div id="tb-background"></div>
            <div id="iddi-tb-back">
                <div class="iddi-fixed-toolbar" id="iddi-mode-select">
                    <i class="fa fa-eye" title="View" id="iddi-cmd-viewmode"><span>View</span></i>
                    <i class="fa fa-pencil active" title="Edit" id="iddi-cmd-editmode"><span>Edit</span></i>
                    <i class="fa fa-pie-chart" title="Admin" id="iddi-cmd-adminmode"><span>Admin</span></i>
                </div>
                <div class="iddi-fixed-toolbar" id="iddi-quicklinks">
                    <i class="fa fa-plus-circle iddi-cmd-new" title="New"></i>
                    <i class="fa fa-save iddi-cmd-save" title="Save"></i>
                    <i class="fa fa-edit iddi-cmd-logout iddi-show-item" data-entity-id="{id}" data-entity-name="{entityname}" title="Edit Item" id="iddi-cmd-switchadminmode"></i>
                    <i class="fa fa-sign-out iddi-cmd-logout" title="Sign Out" id="iddi-cmd-logout"></i>
                </div>
                <div class="iddi-dockable-toolbar iddi-tools-for iddi-tools-for-html" id="iddi-type-html">
                    <i class="cmd cmd-bold fa fa-bold" title="bold"></i>
                    <i class="cmd cmd-em fa fa-italic" title="italics"></i>
                    <i class="cmd cmd-u fa fa-underline" title="underline"></i>
                    <i class="cmd cmd-h1 fa fa-header" title="heading 1"></i>
                    <i class="cmd cmd-h2 fa fa-header" title="heading 2"></i>
                    <i class="cmd cmd-h4 fa fa-text-height" title="heading 3"></i>
                    <i class="cmd cmd-link fa fa-link" title="Create / Edit a Link"></i>
                    <i class="cmd cmd-unlink fa fa-link" style="text-decoration:strikeout" title="Remove a Link"></i>
                    <i class="cmd cmd-insertimage fa fa-image" title="Insert an Image at the current cursor position"></i>
                    <i class="cmd cmd-ul fa fa-list-ul" title="Add a list"></i>
                    <i class="cmd cmd-attach fa fa-paperclip" title="Insert a file"></i>
                </div>
                <div class="iddi-fixed-toolbar" style="float:right;">
                    <i class="fa fa-sign-out iddi-cmd-logout" title="Sign Out" id="iddi-cmd-logout"></i>
                </div>
                
            </div>
        </div>

        <div id="iddi-admin-area" style="display:none">
            <div id="iddi-admin-entities">
                <iddi:insert-template source="admin/navigation" select="//html"/>
            </div>
            <div id="y-banner"></div>            
            <div id="iddi-admin-main-area"></div>
        </div>
        
        <script>
          <![CDATA[
            var activewidgetholder=null;

            $(document).ready(function(){
                $('.iddi-drop-downs ul').hide();
                $('.iddi-drop-downs .wb').hide();
                $('.iddi-drop-downs li').hover(function(){
                    $(this).find('> ul').stop().css({'opacity':0,'display':'block'}).animate({'opacity':1},'fast');
                    $(this).find('.wb').stop().css({'opacity':0,'display':'block'}).animate({'opacity':1},'fast');
                    $(this).addClass('active');
                    $(this).iddiBringToFront();
                },function(){
                    $(this).find('ul').stop().animate({opacity:0},'fast','',function(){
                        $(this).css('display','none');
                    });
                    $(this).find('.wb').stop().animate({opacity:0},'fast','',function(){
                        $(this).css('display','none').parent().removeClass('active');
                        });
                    $(this).removeClass('active')
                });
                $('.iddi-drop-downs li ul li').click(function(){
                    $(this).parent().stop().animate({opacity:0},'fast');
                    $(this).parent().parent().find('.wb').stop().animate({opacity:0},'fast','',function(){
                        $(this).parent().removeClass('active');}
                        )
                });

                $('#iddi-cmd-page-settings').click(function(){ iddiui.loadPopupTool('create-new-popup'); });
                $('.iddi-cmd-open').click(function(){ iddiui.loadPopupTool('open-file-popup')});
                $('.iddi-cmd-save').click(function(){ iddiCore.save() });
                $('.iddi-cmd-saveas').click(function(){ iddiui.loadPopupTool('saveas-file-popup') });
                $('.iddi-cmd-deepcopy').click(function(){ iddiui.loadPopupTool('deep-copy-popup') });
                $('.iddi-cmd-delete').click(function(){ iddiCore.delete_page() });
                $('.iddi-cmd-undelete').click(function(){ iddiCore.restore_page() });
                $('.iddi-cmd-new').click(function(){ iddiEditor.newpage(); });
                $('#iddi-cmd-logout').click(function(){ document.location='/api/logout'; });
                $('.cmd-insertimage').click(function(){ iddiEditor.insertImage(); });
                $('#iddi-cmd-identify').toggle(function(){ $(this).addClass('active'); iddiEditor.showEditableAreas(); },function() {$(this).removeClass('active'); iddiEditor.unShowEditableAreas(); });
                $('.cmd-bold').mousedown(function(){ iddiEditor.command('bold'); });
                $('.cmd-em').mousedown(function(){ iddiEditor.command('italic'); });
                $('.cmd-u').mousedown(function(){ iddiEditor.command('underline'); });
                $('.cmd-h1').mousedown(function(){ iddiEditor.command('formatblock','h1'); });
                $('.cmd-h2').mousedown(function(){ iddiEditor.command('formatblock','h2'); });
                $('.cmd-h4').mousedown(function(){ iddiEditor.command('formatblock','p'); });
                $('.cmd-ul').mousedown(function(){ iddiEditor.command('insertunorderedlist',''); });
                $('#iddi-cmd-compile').click(function(){ iddiui.loadPopupTool('compile-popup'); });
                $('.iddi-change-language').click(function(){
                  iddiCore.save();
                  var lang=$(this).attr('rel');
                  document.location='/'+lang+iddi.basefilename;
                });
                $('.cmd-attach').mousedown(function(){
                  iddiEditor.getSelection();
                  iddiui.loadPopupTool('attach-file','',iddiFileAttach);
                });

                iddi.editframe('body').click(function(e){
                    var tag=e.target.tagName;
                    switch (tag){
                        case 'P':

                    }
                });

                $('#iddi-search').mousedown(function(){
                  $(this).focus();
                });

                $('#iddi-search-button').click(function(){
                  iddiui.loadPopupTool('search-popup&search='+$('#iddi-search').val());
                });

                $('#iddi-type-html').hide();

                $('.cmd-link').mousedown(function(){
                    e=iddiEditor.getSelection();
                    var v=prompt('Enter Link URL (Don\'t forget http:// or https:// for external links)');
                    if (v){
                      iddiEditor.command('createlink',v);
                    }
                });
                $('.cmd-unlink').click(function(){iddiEditor.command('unlink');});

                if ($('#iddi-is-new-page').attr('id')=='iddi-is-new-page'){
                    $('#iddi-cmd-page-settings').click();
                }

                var loading_message='<div id="iddi-loading-message"><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</div>';

                /**
                 * View Mode
                 */
                $('#iddi-cmd-viewmode').click(function(){
                    $(this).addClass('active').siblings().removeClass('active');
                    $('#iddi-admin-area').hide();
                })

                /**
                 * Edit Mode
                 */
                $('#iddi-cmd-editmode').click(function(){
                    $(this).addClass('active').siblings().removeClass('active');
                    $('#iddi-admin-area').hide();
                })


                /**
                 * Admin Mode
                 */
                $('#iddi-cmd-adminmode').click(function(){
                    $(this).addClass('active').siblings().removeClass('active');
                    $('#iddi-admin-area').show();
                    if($('#iddi-admin-main-area')=='') $('#iddi-admin-main-area').html(loading_message).load('/api/admin/dashboard');
                })


                $('#iddi-admin-area').on('click','.load-entity,.iddi-show-entity',function(){
                    iddi.currentAdminEntity=$(this).attr('data-iddi-entity');
                    var entity=$(this).attr('data-iddi-entity');
                    var data = {action_name:'load_entity_table',entity:entity};
                    
                    yendoi.load_entity_table(data);
                    history.pushState(data,'List Entity','?admin-entity-list-'+entity);
                })


                $('#iddi-admin-entities').on('click','li.load-dashboard',function(){
                    var data = {action_name:'load_dashboard'};                    
                    yendoi.load_dashboard(data);
                    history.pushState(data,'Dashboard','?admin-dashboard');                                       
                });

                $('body').on('click','.iddi-show-item',function(){
                    var itemid=$(this).attr('data-entity-id');
                    var entity=$(this).attr('data-entity-name');
                    $('#iddi-cmd-adminmode').addClass('active').siblings().removeClass('active');
                    $('#iddi-admin-area').show();
                    $('#iddi-admin-main-area').html(loading_message).load('/api/admin/entity_edit?e='+entity+'&i='+itemid);
                })

                $('#iddi-admin-main-area').on('click','.iddi-form-tabs li',function(){
                    var itemid=$(this).index();
                    $(this).addClass('active').siblings().removeClass('active');
                    $('#iddi-form-tab-content > div').hide();
                    $('#iddi-form-tab-content > div').eq(itemid).show();
                })

                $('#iddi-admin-main-area').on('click','#iddi-form-save',function(){
                    $.ajax({
                        type: "POST",
                        url: '/api/admin/entity_save',
                        dataType: 'json',
                        data: $('#iddi-admin-main-area form').serialize(),
                        success: function(data){
                            for(dataitem in data.fields){
                                var di=data.fields[dataitem];
                                $('*[name='+dataitem+']').val(di);
                            }
                            $('*[name=virtualfilename]').val(data.virtualfilename);
                            $('*[name=entityid]').val(data.id);

                        }
                    });
                })
                

                $('#iddi-admin-main-area').on('click','#iddi-form-delete',function(){
                    var entityname=$('#iddi-admin-main-area form input[name="entityname"]').val();
                    $.ajax({
                        type: "POST",
                        url: '/api/admin/entity_delete',
                        dataType: 'json',
                        data: $('#iddi-admin-main-area form').serialize(),
                        success: function(data){
                            alert(data.message);
                            iddi.currentAdminEntity=entityname;
                            /**
                             * Load data for editing
                             */
                            $('#iddi-admin-main-area').html(loading_message).load('/api/admin/entity_table?e='+entityname);
                        }
                    });
                })                

            });
            ]]>
        </script>
    </iddi:tool>

    <iddi:tool id="page-menu">
        <ul>
            <li class="iddi-cmd-new" title="Create a new document or object using the wizard"><span class="icon r2c3">&#160;</span>New</li>
            <li class="iddi-cmd-open" title="Open an existing document or object for editing"><span class="icon r2c1">&#160;</span>Open</li>
            <li class="iddi-cmd-save" title="Save your work to the database"><span class="icon r1c1">&#160;</span>Save</li>
            <li class="iddi-cmd-saveas"><span class="icon r1c1">&#160;</span>Rename</li>
            <li class="iddi-cmd-delete"><span class="icon r3c3">&#160;</span>Delete</li>
            <li class="iddi-cmd-deepcopy"><span class="icon r3c3">&#160;</span>Save Copy As</li>
            <li class="iddi-cmd-undelete"><span class="icon r3c3">&#160;</span>Un-Delete</li>
            <li class="disabled"><span class="icon r2c1">&#160;</span>Recent</li>
            <li class="disabled"><span class="icon r3c4">&#160;</span>Export Wizard</li>
            <li id="iddi-cmd-page-settings" title="Edit page settings including document type, template, title and other settings"><span class="icon r1c2">&#160;</span>Edit Page Settings</li>
            <li id="iddi-cmd-logout" title="Exit the administration system"><span class="icon r3c2">&#160;</span>Logout</li>
        </ul>
    </iddi:tool>

    <iddi:tool id="image-editor-popup">
        <div class="iddi-popup" id="iddi-image-chooser-popup">
            <h1>Image Library</h1>
            <div class="iddi-wizard-step-container" style="height:380px;">
                <div id="image-editor-toolbar" class="toolbar">
                    <label>Library:</label>
                    <span><select id="library" title="Use this drop down to change the library of images that you are working with. When you choose a new library you will be able to view and use images from that library as well as add new images to it.">
                        <iddi:php>
                            <![CDATA[
                                $path=IDDI_IMAGES_PATH.'/library/';
                                $d=opendir($path);
                                while($f=readdir($d)){
                                    if ($f!='.' && $f!='..' && is_dir($path.$f)){
                                        if (!isset($_SESSION['library'])) $_SESSION['library']=$f;
                                        $sel=($_SESSION['library']==$f)?' selected="selected"':'';
                                        $output.=$f.'<option'.$sel.'>'.$f.'</option>';
                                    }
                                }
                                return $output;
                            ]]>
                        </iddi:php>
                    </select></span>
                    <input type="button" value="Create Library" id="add_library" title="Click to create a new library for you to add images to. Libraries help you to organise your image files rather than just having one large collection of images" style="margin-left:15px;"/>
                    <form method="post" action="/uploadimage" enctype="multipart/form-data" target="imageuploadframe" style="display:inline;padding-left:8px;" id="uploadform">

                        <span style="postion:relative;width:50px;overflow:hidden;">                            
                            Upload : <input type="file" name="image" id="browse_image" size="1" style="width:104px" title="Click to locate an image file to add to the current image library. Your image will be automatically resized, however avoid uploading images above 1Mb otherwise it will take a very long time, and can cause the server to timeout. The file will upload automatically and appear below when finished." />
                        </span>
                        <input type="submit" value="Go" title="Click Go to upload your chosen image" style="opacity:0"/>
                    </form>                    
                    <iframe name="imageuploadframe" id="imageuploadframe" style="display:none;"></iframe>
                </div>
                <div id="file-picker">
                    <iddi:php>
                    <![CDATA[
                        if($_REQUEST['library']) $_SESSION['library']=$_REQUEST['library'];
                        $lib=$_SESSION['library'];
                        $lib=str_replace(" ","_",$lib);
                        $lib=preg_replace("/[^A-Za-z0-9_-]/","",$lib);
                        $lib_path=$lib;
                        $lib_url='/images/library/'.$lib;
                        $original_url='/images/originals/'.$lib;
                        $orig=IDDI_IMAGES_PATH.'/originals/'.$lib;
                        $lib=IDDI_IMAGES_PATH.'/library/'.$lib;
                        @mkdir(IDDI_IMAGES_PATH);
                        @chmod(IDDI_IMAGES_PATH,0777);
                        @mkdir(IDDI_IMAGES_PATH.'/library');
                        @chmod(IDDI_IMAGES_PATH.'/library',0777);
                        @mkdir($lib);
                        @chmod($lib,0777);
                        $d=opendir($orig);
                        while($f=readdir($d)){
                            if ($f!='.' && $f!='..'){
                                $files=true;
                                $file_info=getimagesize(IDDI_IMAGES_PATH.'/originals/'.$lib_path.'/'.$f);
                                $date_uploaded=date('d/m/Y h:i',filemtime(IDDI_IMAGES_PATH.'/originals/'.$lib_path.'/'.$f));
                                list($inputwidth,$inputheight,$inputtype)=$file_info;                                
                                $output.='<img title="Filename : '.$f.' / Size : '.$inputwidth.'x'.$inputheight.' / Date uploaded : '.$date_uploaded.'" rel="'.$original_url.'/'.$f.'" src="/api/image?width=120&height=120&scalemode=force&outmode=image&filename=/iddi-project'.$original_url.'/'.$f.'"/>';
                            }
                        }
                        if (!$files) $output='<p>No images in this library</p>';
                        if(iddi::$debug) iddiDebug::dumpvar('UA: Loading images from library '.$lib,$output);
                        return $output;
                        ]]>
                    </iddi:php>
                </div>
                <script type="text/javascript">
                    $('#browse_image').change(function(){
                        $('#uploadform').submit();
                    });
                </script>
            </div>
        </div>
    </iddi:tool>

    <iddi:tool id="attach-file">
      <div class="iddi-popup" id="iddi-attach-file-popup">
        <h1>Attach File</h1>
            <div class="iddi-wizard-step-container" style="height:388px;">
                <div id="image-editor-toolbar" class="toolbar">
                    <label>Library:</label>
                    <span><select id="library" title="Use this drop down to change the library of images that you are working with. When you choose a new library you will be able to view and use images from that library as well as add new images to it.">
                        <iddi:php>
                            <![CDATA[
                                $path=IDDI_IMAGES_PATH.'/library/';
                                $d=opendir($path);
                                while($f=readdir($d)){
                                    if ($f!='.' && $f!='..' && is_dir($path.$f)){
                                        if (!isset($_SESSION['library'])) $_SESSION['library']=$f;
                                        $sel=($_SESSION['library']==$f)?' selected="selected"':'';
                                        $output.=$f.'<option'.$sel.' value="'.$f.'">'.urldecode(str_replace('_',' ',$f)).'</option>';
                                    }
                                }
                                return $output;
                            ]]>
                        </iddi:php>

                    </select></span>
                    <input type="button" value="Create Library" id="add_library" title="Click to create a new library for you to add files to. Libraries help you to organise your image files rather than just having one large collection of files" style="margin-left:15px;"/>
                    <form method="post" action="/uploadimage" enctype="multipart/form-data" target="imageuploadframe" style="display:inline;padding-left:8px;" id="uploadform">

                        <span style="postion:relative;width:50px;overflow:hidden;">
                            <input type="button" value="Add File" id="browse_link" style="position:absolute;" />
                            <input type="file" name="image" id="browse_image" size="1" style="width:40px;position:absolute;opacity:0;" title="Click to locate an image file to add to the current image library. Your image will be automatically resized, however avoid uploading images above 1Mb otherwise it will take a very long time, and can cause the server to timeout. The file will upload automatically and appear below when finished." />
                        </span>
                        <input type="submit" value="Go" title="Click Go to upload your chosen image"/>
                    </form>
                    <iframe name="imageuploadframe" id="imageuploadframe" style="display:none;"></iframe>
                    <iframe name="actionframe" id="actionframe" style="display:none;"></iframe>
                </div>
                <div id="file-picker-contain" style="height:344px;overflow:auto;">
                <div id="file-picker">
                    <table class="listing">
                        <iddi:php>

                    <![CDATA[
                        if($_REQUEST['library']) $_SESSION['library']=$_REQUEST['library'];
                        $lib=$_SESSION['library'];
                        $lib=str_replace(" ","_",$lib);
                        $lib=preg_replace("/[^A-Za-z0-9_-]/","",$lib);
                        $lib_folder=IDDI_IMAGES_PATH.'/originals/'.$lib;
                        $lib_url='/images/library/'.$lib;
                        @mkdir(IDDI_IMAGES_PATH);
                        @chmod(IDDI_IMAGES_PATH,0777);
                        @mkdir(IDDI_IMAGES_PATH.'/library');
                        @chmod(IDDI_IMAGES_PATH.'/library',0777);
                        @mkdir($lib_folder);
                        @chmod($lib_folder,0777);
                        $d=opendir($lib_folder);
                        while($f=readdir($d)){
                            if ($f!='.' && $f!='..'){
                                $files=true;
                                $filesize=number_format(intval(filesize($lib_folder.'/'.$f)/1024),0).'Kb';
                                $ext = substr(strrchr($f, '.'), 1);
                                $output.='<tr rel="'.$lib.'/'.$f.'">';
                                if($ext=='jpg' || $ext=='gif' || $ext=='png'){
                                    $file_info=getimagesize(IDDI_IMAGES_PATH.'originals/'.$lib_path.'/'.$f);
                                    list($inputwidth,$inputheight,$inputtype)=$file_info;
                                    if($inputwidth>250) $original_url=$lib_url;
                                    $output.='<td width="20"><img src="'.$lib_url.'/'.$f.'" width="20" height="20"/></td>';
                                }
                                $output.='<td style="width:70%;">'.$f.'</td><td align="right">'.$filesize.'</td>';
                                $output.='<td width="20" class="action action-delete"><i class="fa fa-trash"/></td>';
                                $output.='<td width="20" class="action action-add-link"><i class="fa fa-arrow-circle-o-right"/></td>';
                                $output.='</tr>';
                            }
                        }
                        if (!$files) $output='<p>No files in this library</p>';
                        return $output;
                        ]]>
                        </iddi:php>
                    </table>
                </div>
                </div>
                <script type="text/javascript">
                  <![CDATA[
                      iddiFileAttach.afterAjax();
                    ]]>
                </script>
            </div>
      </div>
    </iddi:tool>

    <iddi:tool id="page-settings-popup">
        <div class="iddi-popup" id="iddi-page-settings-popup">
            <h1>Page Settings</h1>
            <br/><label>Entity ID :</label><input type="text" name="id"/>
            <br/><label>Title :</label><input type="text" name="pagetitle"/>
            <br/><label>Template :</label><input type="text" name="templatefile"/>
            <br/><label>Filename :</label><input type="text" name="virtualfilename"/>
        </div>
    </iddi:tool>

    <iddi:tool id="saveas-file-popup">
        <div class="iddi-popup iddi-save-file-popup">
            <h1>Save As...</h1>
            <div style="position:relative;">
                <div style="height:300px;">
                    <div class="file-picker">
                        <div class="level0">
                        </div>
                    </div>

                </div>
            </div>
                <div class="popup-buttonbar">
                    <div class="iddi-wizard-next-back">
                        <input type="hidden" class="filename" style="width:100%"/>
                        <input type="text" class="newfilename" value="{virtualfilename}" name="{currententity()/formfieldid(virtualfilename)}" style="width:100%"/>
                        <label>Page Name:</label><input type="text" class="pagetitle" name="{currententity()/formfieldid(pagetitle)}"  style="width:100%"/>
                        <input type="hidden" class="parentid" name="{currententity()/formfieldid(parentid)}"  style="width:100%"/>
                    <br/>
                        <select class="open-filter-language" name="{currententity()/formfieldid(language)}" style="display:none;width:130px;">
                            <option value="en-gb">English (en-gb)</option>
                            <option value="pol">Polish (pol)</option>
                            <option value="es">Spanish (es)</option>
                            <option value="fr">French (fr)</option>
                            <option value="de">German (de)</option>
                        </select>
                        <!--
                        <input type="button" value="Rename" id="openfile-cmd-rename"/>
                        <input type="button" value="Delete" id="openfile-cmd-delete"/>
                        <input type="button" value="Save" class="saveas-cmd-save"/>
                        -->
                        <input type="button" value="Save and Open" class="saveas-cmd-saveandopen"/>
                    </div>
                </div>
            <script type="text/javascript">
                var levelload=0;
                var langfilter='<iddi:value-of select="language"/>';
                    var filemanager=iddiui.getCurrentPopup().find('.iddi-save-file-popup').iddiCreateColumnFileManager();
                    filemanager._beforeajax=function(fm){
                            var fname1=fm._popup.find('.filename').val()+'/'+fm._popup.find('.pagetitle').val();
                            re = new RegExp('[^A-Za-z0-9\-_ /]','gim');
                            fname1=fname1.replace(re,'').toLowerCase();
                            re = new RegExp('[ ]','gim');
                            fname1=fname1.replace(re,'-');
                            fname1=fname1.replace('//','/');
                            fname1=fname1.replace('__','_');
                            fname1=fname1.replace('__','_');
                            fname1=fname1.replace('__','_');
                            fname1=fname1.replace('--','-');
                            fname1=fname1.replace('--','-');
                            fname1=fname1.replace('--','-');
                            fm._popup.find('.newfilename').val(fname1);
                            fm._popup.find('.newfilename')[0].ival.setValue(fname1);
                    };
                    filemanager._fileclick=function(fm,item){
                        fm._popup.find('.parentid').val($(item).find('*[selected]').attr('id'));
                        fm._popup.find('.parentid')[0].ival.setValue($(item).find('*[selected]').attr('id'));
                    }
                    filemanager._popup.find('.saveas-cmd-save').click(function(){
                        iddiCore.save();
                    });
                    filemanager._popup.find('.saveas-cmd-saveandopen').click(function(){
                        iddiCore.save(function(success){
                          if (success) document.location=iddi.virtualfilename;
                        });
                    });
            </script>
        </div>
    </iddi:tool>

    <iddi:tool id="search-popup">
        <div class="iddi-popup iddi-search-popup">
            <h1>Search Results...</h1>
            <div style="position:relative;">
                <div style="height:300px;">
                  <ul>
                  <iddi:list-items entity="sysfullindex">
                    <iddi:limit start="0" length="10"/>
                    <iddi:filter filter="value like '%{requestvar(search)}%'"/>
                    <li><a href="{virtualfilename}" style="color:white;"><iddi:value-of select="entityname"/> - <iddi:value-of select="pagetitle"/></a></li>
                  </iddi:list-items>
                  </ul>
                </div>
            </div>
                <div class="popup-buttonbar">
                </div>
            <script type="text/javascript">
            </script>
        </div>
    </iddi:tool>

    <iddi:tool id="compile-popup">
        <div class="iddi-popup iddi-search-popup">
            <h1>Compiling...</h1>
            <div style="position:relative;">
                <div style="height:400px;">
                  <iframe src="?context=compile" style="height:100%;width:100%;border:none;background:black;"></iframe>
                </div>
            </div>
        </div>
    </iddi:tool>

    <iddi:tool id="deep-copy-popup">
        <div class="iddi-popup iddi-save-file-popup">
            <h1>Save As...</h1>
            <div style="position:relative;">
                <div style="height:300px;">
                    <div class="file-picker">
                        <div class="level0">
                        </div>
                    </div>

                </div>
            </div>
                <div class="popup-buttonbar">
                    <div class="iddi-wizard-next-back">
                        <input type="hidden" class="filename" style="width:100%"/>
                        <input type="text" class="newfilename" value="{virtualfilename}" name="{currententity()/formfieldid(virtualfilename)}" style="width:100%"/>
                        <label>Page Name:</label><input type="text" class="pagetitle" name="{currententity()/formfieldid(pagetitle)}"  style="width:100%"/>
                        <input type="hidden" class="parentid" name="{currententity()/formfieldid(parentid)}"  style="width:100%"/>
                    <br/>
                        <select class="open-filter-language" name="{currententity()/formfieldid(language)}" style="width:130px;">
                            <option value="en-gb">English (en-gb)</option>
                            <option value="pol">Polish (pol)</option>
                            <option value="es">Spanish (es)</option>
                            <option value="fr">French (fr)</option>
                            <option value="de">German (de)</option>
                        </select>
                        <!--
                        <input type="button" value="Rename" id="openfile-cmd-rename"/>
                        <input type="button" value="Delete" id="openfile-cmd-delete"/>
                        -->
                        <input type="button" value="Save" class="saveas-cmd-save"/>
                        <input type="button" value="Save Copy and Open" class="saveas-cmd-saveandopen"/>
                    </div>
                </div>
            <script type="text/javascript">
                var levelload=0;
                var langfilter='<iddi:value-of select="language"/>';
                    var filemanager=iddiui.getCurrentPopup().find('.iddi-save-file-popup').iddiCreateColumnFileManager();
                    filemanager._beforeajax=function(fm){
                            var fname1=fm._popup.find('.filename').val()+'/'+fm._popup.find('.pagetitle').val();
                            re = new RegExp('[^A-Za-z0-9\-_ /]','gim');
                            fname1=fname1.replace(re,'').toLowerCase();
                            re = new RegExp('[ ]','gim');
                            fname1=fname1.replace(re,'-');
                            fname1=fname1.replace('//','/');
                            fname1=fname1.replace('__','_');
                            fname1=fname1.replace('__','_');
                            fname1=fname1.replace('__','_');
                            fm._popup.find('.newfilename').val(fname1);
                            fm._popup.find('.newfilename')[0].ival.setValue(fname1);
                    };
                    filemanager._fileclick=function(fm,item){
                        fm._popup.find('.parentid').val($(item).find('*[selected]').attr('id'));
                        fm._popup.find('.parentid')[0].ival.setValue($(item).find('*[selected]').attr('id'));
                    }
                    filemanager._popup.find('.saveas-cmd-save').click(function(){
                        iddiCore.deep_copy();
                    });
                    filemanager._popup.find('.saveas-cmd-saveandopen').click(function(){
                        iddiCore.deep_copy(function(success){
                          if (success) document.location=iddi.virtualfilename;
                        });
                    });
                    //filemanager.selectpath('<iddi:value-of select="currententity()/virtualfilename"/>');
                    //$(this).find('.filename').keyup(function(){$(this).click();});
            </script>
        </div>
    </iddi:tool>

    <iddi:tool id="open-file-popup">
        <div class="iddi-popup iddi-open-file-popup">
            <h1>Open File</h1>
            <div style="position:relative;">
                <div style="height:300px;">
                    <div class="file-picker">
                        <div class="level0">
                        </div>
                    </div>

                </div>
            </div>
                <div class="popup-buttonbar">
                    <div class="iddi-wizard-next-back">
                        <input type="text" class="filename" style="width:100%"/>
                    <br/>
                        <select class="open-filter-language" style="display:none;">
                            <option value="en-gb">English (en-gb)</option>
                            <option value="pol">Polish (pol)</option>
                            <option value="es">Spanish (es)</option>
                            <option value="fr">French (fr)</option>
                            <option value="de">German (de)</option>
                        </select>
                        <!--
                        <input type="button" value="Rename" id="openfile-cmd-rename"/>
                        <input type="button" value="Delete" id="openfile-cmd-delete"/>
                        -->
                        <input type="button" value="Open" class="openfile-cmd-open"/>
                    </div>
                </div>
            <script type="text/javascript">
            <![CDATA[
                var filemanager=iddiui.getCurrentPopup().find('.iddi-open-file-popup').iddiCreateColumnFileManager();
                ]]>
            </script>
        </div>
    </iddi:tool>

    <iddi:tool id="first-virtualfiles">

                <iddi:list-items entity="sysfilenames">
                    <iddi:filter filter="(parentid=0 or parentid is null)"/>
                    <iddi:filter filter="language='{requestvar(langfilter)}'"/>
                    <iddi:sort select="virtualfilename"/>
                    <iddi:limit start="0" length="8000"/>
                    <select id="iddi-select-file-0" size="18" rel="0" title="Double click the file you want to open">
                      <option value="/" id="null">[root]</option>
                        <iddi:list-repeat>
                            <option value="{virtualfilename}" id="{id}"><iddi:value name="Page Title" /></option>
                        </iddi:list-repeat>
                    </select>
                </iddi:list-items>
    </iddi:tool>

    <iddi:tool id="child-virtualfiles">
                <iddi:list-items entity="sysfilenames">
                    <iddi:filter filter="virtualfilename REGEXP '^{requestvar(path)}/[^/]+$'"/>
                    <iddi:filter filter="language='{requestvar(langfilter)}'"/>
                    <iddi:sort select="virtualfilename"/>
                    <iddi:limit start="0" length="2000"/>
                    <select id="iddi-select-file-{requestvar(level)}" size="18" rel="{requestvar(level)}" title="Double click the file you want to open">
                        <iddi:list-repeat>
                            <option value="{virtualfilename}" id="{id}"><iddi:value name="Page Title" /></option>
                        </iddi:list-repeat>
                    </select>
                </iddi:list-items>

    </iddi:tool>


    <iddi:tool id="create-new-popup">
        <div class="iddi-popup" id="iddi-create-new-popup">
            <h1>Page Settings</h1>
            <ul class="iddi-wizard-steps">
                <li class="tool-step" title="Select what type of file or object you want to create">Choose Type</li>
                <li class="tool-step" title="Edit the basic details for the new file">Page Details</li>
            </ul>
        </div>
    </iddi:tool>

    <iddi:tool id="create-new-popup-tabs">
                <li class="tool-step" title="Select what type of file or object you want to create">Choose Type</li>
                <li class="tool-step" title="Edit the basic details for the new file">Page Details</li>
                <iddi:php>
                    <![CDATA[
                        $p=$_SESSION['iddi-request'];
                        if($p->page->fields['language']!='en-gb'){
                            return '<li class="tool-step" title="Select a base language page to link to">Base language page</li>';
                        }
                    ]]>
                </iddi:php>
                <!--
                <iddi:list-items entity="sysentityfields">
                    <iddi:sort select="fieldname"/>
                    <iddi:filter filter="entityname='iddi_{current()/entityname()}'"/>
                    <iddi:filter filter="(`type`='html')"/>
                    <li class="generated-step" id="{fieldname}">
                        <iddi:value name="fieldname"/>
                    </li>
                </iddi:list-items>
                -->
    </iddi:tool>

    <iddi:tool id="iddi-create-new-popup-wizard-step-generated">
        <input name="{currententity()/formfieldid({requestvar(fieldid)})}" type="text"/>
    </iddi:tool>

    <iddi:tool id="iddi-create-new-popup-wizard-step-1">
        <div class="chooser" style="position:relative;">
            <div style="height:270px;border:solid 1px #666;-moz-border-radius:4px;width:200px;float:right;background:white;padding:6px;font-size:1.3em;" class="chooser-help">Info</div>
            <div style="height:280px;">
                <div class="file-picker">
                    <div class="level0">
                    </div>
                    <input type="hidden" class="newentityname" name="{current()/formfieldid(entityname)}"/>
                    <input type="hidden" class="newtemplatename" name="{current()/formfieldid(templatefile)}"/>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        <![CDATA[
            var filemanager=iddiui.getCurrentPopup().find('.chooser').iddiCreateColumnEntityManager();
            filemanager._fileclick=function(fm,item){
                if($(item).hasClass('entity')){
                    nv=($(item).val());
                    d=fm._popup.find('.newentityname');
                    if (d){
                        d[0].ival.setValue(nv);
                        d.val(nv);
                    }else{
                        m=new top.iddiSideMessage();
                        m.show('fatal','Cannot set entity type');
                    }
                }
                if($(item).hasClass('template')){
                    nv=($(item).val());
                    fm._popup.find('.newtemplatename')[0].ival.setValue(nv);
                    fm._popup.find('.newtemplatename').val(nv)
                }
                set_button_status();
            }

            function set_button_status(){
              var fm=iddiui.getCurrentPopup();
              if(fm.find('.newtemplatename').val()!='' && fm.find('.newentityname')!=''){
                fm.find('.iddi-wizard-next').removeAttr('disabled');
                fm.find('.iddi-wizard-finish').removeAttr('disabled');
              }else{
                fm.find('.iddi-wizard-next').attr('disabled','disabled');
                fm.find('.iddi-wizard-finish').attr('disabled','disabled');
              }
            }

            set_button_status();

            ]]>
        </script>
    </iddi:tool>


    <iddi:tool id="first-entityloader">
                <iddi:list-items entity="sysentities">
                    <iddi:sort select="name"/>
                    <iddi:limit start="0" length="2000"/>
                    <select name="" id="iddi-select-file-{requestvar(level)}" size="16" rel="{requestvar(level)}" title="Click the type of item you want to create to see a list of templates" class="entity">
                        <iddi:list-repeat>
                            <option value="{tidyname}" class="entity" title="Create a new {name}"><iddi:value name="Name" /></option>
                        </iddi:list-repeat>
                    </select>
                </iddi:list-items>
    </iddi:tool>

    <iddi:tool id="child-entityloader">
                <iddi:list-items entity="systemplates">
                    <iddi:join-entity entity="sysjoin_entity_template" match="systemplates.name=sysjoin_entity_template.templatefilename"/>
                    <iddi:filter filter="sysjoin_entity_template.entityname='{requestvar(path)}'"/>
                    <iddi:sort select="title"/>
                    <iddi:limit start="0" length="2000"/>
                    <select id="iddi-select-file-{requestvar(level)}" class="template" rel="{requestvar(level)}" size="16" title="Click the template you want to use, then next">
                        <iddi:list-repeat>
                            <option value="{name}" class="template" title="{description}"><iddi:value name="Title" /></option>
                        </iddi:list-repeat>
                    </select>
                </iddi:list-items>

    </iddi:tool>

    <iddi:tool id="_old-iddi-create-new-popup-wizard-step-1">
        <h2>1: Choose Type</h2>
        <p>Select the type of item you want</p>
        <ul class="iddi-chooser">
            <iddi:list-items entity="sysentities">
                <iddi:sort select="name"/>
                <li>
                    <input type="radio" name="{current()/formfieldid(entityname)}" id="{id}" value="{tidyname}"/>
                    <label class="radio" for="{id}" title="{description}"><iddi:value-of select="name"/></label>
                </li>
            </iddi:list-items>
        </ul>
    </iddi:tool>

    <iddi:tool id="iddi-create-new-popup-wizard-step-2">
        <h2>2: General Details</h2>
        <fieldset>
            <legend>Basic Details</legend>
            <label for="create-step3-title">Title :</label><input type="text" name="{current()/formfieldid(pagetitle)}" id="create-step3-title" size="40" title="Enter a nice name in normal language, i.e. 'Home Page'" value="{pagetitle}"/>
        </fieldset>
    </iddi:tool>

    <iddi:tool id="iddi-create-new-popup-wizard-step-3">
            <div class="root-file-chooser" style="position:relative;">
                <input type="hidden" class="rootlanguageitemid" name="{current()/formfieldid(rootlanguageitemid)}"/>
                <input type="hidden" class="open-filter-language" value="en-gb"/>
                <div style="position:relative;">
                    <div style="height:300px;">
                        <div class="file-picker">
                            <div class="level0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            <![CDATA[
                var filemanager=iddiui.getCurrentPopup().find('.root-file-chooser').iddiCreateColumnFileManager();
                filemanager._fileclick=function(fm,item){
                    nv=($(item).val());
                    fm._popup.find('.rootlanguageitemid').val(item.id)
                    fm._popup.find('.rootlanguageitemid')[0].ival.setValue(item.id);
                }
                ]]>
            </script>
    </iddi:tool>

</iddi:toolscollection>
