/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15-Feb-2015, 22:47:22
    Author     : Jonathan
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15-Feb-2015, 22:47:08
    Author     : Jonathan
*/
#yendoi-master button, #yendoi-master input, #yendoi-master fieldset, #yendoi-master form, #yendoi-master label, #yendoi-master span {
  width: auto;
}

@font-face {
  font-family: 'FiraSans';
  src: url("fonts/FiraSans/FiraSans-Regular.eot");
  src: url("fonts/FiraSans/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/FiraSans-Regular.woff") format("woff"), url("fonts/FiraSans/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url("fonts/FiraSans/FiraSans-Light.eot");
  src: url("fonts/FiraSans/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/FiraSans-Light.woff") format("woff"), url("fonts/FiraSans/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url("fonts/FiraSans/FiraSans-Medium.eot");
  src: url("fonts/FiraSans/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/FiraSans-Medium.woff") format("woff"), url("fonts/FiraSans/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url("fonts/FiraSans/FiraSans-Bold.eot");
  src: url("fonts/FiraSans/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/FiraSans/FiraSans-Bold.woff") format("woff"), url("fonts/FiraSans/FiraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
#yendoi-master div, #yendoi-master input, #yendoi-master textarea, #yendoi-master td, #yendoi-master th, #yendoi-master h1, #yendoi-master h2, #yendoi-master h3, #yendoi-master h4, #yendoi-master h5, #yendoi-master button, #yendoi-master p, #yendoi-master span, #yendoi-master label {
  font-family: "FiraSans",Helvetica,Arial,Geneva,sans-serif;
}

html {
  position: relative;
  top: 50px;
}

html[yendoi-mode=admin] #yendoi-master {
  position: fixed;
}

#yendoi-master {
  font-size: 81.01%;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  min-height: 1000px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999;
}
#yendoi-master button {
  width: auto;
}
#yendoi-master.iddi-backend {
  background: #aaa;
  padding-top: 65px;
}
#yendoi-master.iddi label {
  display: block;
  padding: 4px 0px;
}
#yendoi-master.iddi label span {
  text-align: right;
  display: block;
  width: 200px;
  float: left;
  padding-right: 5px;
}
#yendoi-master.iddi #left-area {
  width: 200px;
  border-left: solid 1px #777;
  float: right;
  min-height: 300px;
  padding: 10px;
}
#yendoi-master.iddi #edit-area {
  border: solid 1px #555;
  background: white;
  margin: 10px 230px 10px 10px;
  padding: 5px 18px 50px 18px;
  -moz-border-radius: 5px;
}
#yendoi-master.iddi #edit-area p {
  background: #333;
  color: white;
  font-size: 1.2em;
  margin: 10px 0;
  padding: 5px;
  -moz-border-radius: 5px;
}
#yendoi-master.iddi #edit-area .iddi-editable {
  border: outset solid 1px black;
}

#iddi-form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#iddi-contain-all {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#iddi-container {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  bottom: 50px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.dock {
  position: fixed;
}

.dock-right {
  right: 0px;
  height: 100%;
  width: 200px;
  background: #444;
  border-left: 2px solid #777;
  margin: 50px 0px;
}

.iddi-popup {
  position: absolute;
  top: 50px;
  left: 90px;
  width: 600px;
  height: 400px;
  border: solid 8px black;
  background: #333;
  padding: 10px;
  -moz-border-radius: 8px;
}
.iddi-popup h1 {
  margin: -43px -18px 0;
  padding: 4px 10px 4px 10px;
  height: 23px;
  background: #111;
  border: solid 2px black;
  border-bottom: none;
  cursor: move;
  color: white;
  font-size: 1.1em;
  letter-spacing: 1px;
  -moz-border-radius: 0 10px 0 0;
}
.iddi-popup p {
  border-top: solid 1px #555;
  border-bottom: solid 1px #555;
  font-size: 1.2em;
  padding: 5px 10px;
  background-color: #aaa;
}
.iddi-popup .toolbar {
  border-top: solid 1px #555;
  border-bottom: solid 1px #555;
  font-size: 1.2em;
  padding: 5px 10px;
  background-color: #aaa;
}
.iddi-popup .toolbar label, .iddi-popup .toolbar input, .iddi-popup .toolbar select {
  display: inline;
  float: none;
}
.iddi-popup fieldset {
  border: solid 1px #aaa;
}
.iddi-popup input {
  font-size: 1.1em;
  background: url(/iddi/icons.png) repeat-x 0 -580px;
  margin-bottom: 2px;
  padding: 2px;
  border: solid 1px #555;
  -moz-border-radius: 6px;
  max-width: 400px;
}
.iddi-popup select {
  background: url(/iddi/icons.png) repeat-x 0 -580px;
  margin-bottom: 2px;
  padding: 2px;
  border: solid 1px #555;
  -moz-border-radius: 6px;
  max-width: 400px;
}
.iddi-popup option {
  background: white;
  color: black;
  border-bottom: dotted 1px #666;
}
.iddi-popup label {
  margin: 4px 6px 2px 0;
  font-weight: normal;
  width: 140px;
  float: left;
  clear: both;
  text-align: right;
}

.iddi-fullscreen {
  position: relative;
  top: 40px;
  left: 0px;
  height: auto;
  width: auto;
  max-width: 1000px;
  margin: 0px auto 0px auto;
  -moz-border-radius: 6px;
  font-size: 90.01%;
}
.iddi-fullscreen div {
  overflow: visible;
}
.iddi-fullscreen .iddi-wizard-step-container {
  height: auto;
}
.iddi-fullscreen .iddi-wizard-step-container div {
  padding: 10px 5px;
}

.iddi-cp {
  background: black;
}
.iddi-cp h1 span {
  display: none;
}

#iddi-help-floater {
  position: fixed;
  background: #333;
  border: solid 1px black;
  width: 200px;
  padding: 1px 6px;
  z-index: 101000;
  opacity: 0.9;
  -moz-border-radius: 7px;
}
#iddi-help-floater p {
  padding: 5px 6px;
  font-style: italic;
  color: white;
  font-weight: bold;
}
#iddi-help-floater div {
  position: absolute;
  width: 24px;
  height: 10px;
  background: url(/iddi/icons.png) no-repeat;
}
#iddi-help-floater.below div {
  background-position: -10px -471px;
  top: 0px;
  margin-top: -10px;
}
#iddi-help-floater.above div {
  background-position: -10px -483px;
  top: 100%;
  margin-bottom: -10px;
}

.iddi-close-button {
  float: right;
  border: outset 1px white;
  background: black;
  margin-left: 14px;
  font-size: 0.6em;
  padding: 2px 6px;
  cursor: pointer;
}

.file-picker {
  overflow: auto;
  white-space: nowrap;
}
.file-picker div {
  display: inline;
  height: 100%;
  width: 180px;
}
.file-picker div select {
  background: white;
  -moz-border-radius: 0;
  border: none;
  width: 180px;
  overflow: auto;
}

.popup-buttonbar {
  background: #222;
  color: white;
  border-top: solid 1px black;
  -moz-border-radius: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.popup-buttonbar div {
  -moz-border-radius: 0 0 9px 9px;
}

#iddi-select-file {
  width: 100%;
  height: 100%;
}

#iddi-contain-all {
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}

#iddi-overlay {
  background: white;
  border: double 3px white;
  margin: 0px;
  opacity: 0;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.iddi-center-message {
  padding: 10px;
  width: 440px;
  height: 150px;
  position: fixed;
  left: 50%;
  margin-left: -220px;
  top: 50%;
  margin-top: -75px;
  color: white;
  border: solid 2px black;
  background: #333;
  padding: 10px;
  -moz-border-radius: 0 10px 0 0;
}

.iddi-alert-box .icon {
  width: 32px;
  height: 56px;
  margin: 5px;
  position: absolute;
  top: 75px;
  left: 10px;
  margin-top: -38px;
}
.iddi-alert-box .icon span {
  visibility: hidden;
}
.iddi-alert-box h2 {
  font-size: 2em;
  margin-left: 50px;
  border: none;
  background: none;
  padding: 0px;
}
.iddi-alert-box p {
  margin-left: 50px;
  border: none;
  background: none;
  padding: 0px;
}

.icon.iddi-warning, .icon.iddi-status-warning {
  background: url(/iddi/icons.png) no-repeat -128px -494px;
}
.icon.iddi-error, .icon.iddi-status-error, .icon.iddi-status-fatal, .icon.iddi-status-serious {
  background: url(/iddi/icons.png) no-repeat -160px -494px;
  width: 32px;
  height: 56px;
}
.icon.iddi-ok, .icon.iddi-status-Success, .icon.iddi-status-success {
  background: url(/iddi/icons.png) no-repeat -192px -494px;
  width: 32px;
  height: 56px;
}
.icon.iddi-information, .icon.iddi-status-ok, .icon.iddi-information-progressor {
  background: url(/iddi/icons.png) no-repeat -224px -494px;
  width: 32px;
  height: 56px;
}

span.iddi-warning, span.iddi-status-warning, span.iddi-error, span.iddi-status-error, span.iddi-status-fatal, span.iddi-status-serious, span.iddi-ok, span.iddi-status-Success, span.iddi-status-success, span.iddi-information, span.iddi-status-ok, span.iddi-information-progressor {
  width: 32px;
  height: 56px;
  display: block;
  float: left;
  margin-right: 15px;
}
span.iddi-status-progress {
  background: url(/iddi/status-progress.gif) 0 3px no-repeat;
}
span.iddi-status-success-progress {
  background: url(/iddi/status-success-progress.gif) 0 3px no-repeat;
}

.iddi-editable {
  min-width: 40px;
  min-height: 15px;
}

.iddi-side-message {
  font-family: georgia;
  position: absolute;
  font-size: 1.3em;
  font-weight: normal;
  font-style: italic;
  background: #222;
  opacity: 0.8;
  color: white;
  display: inline;
  padding: 8px 20px 8px 20px;
  z-index: 10100;
  display: block;
  border: solid 1px #444;
  border-left: none;
  -moz-border-radius: 0 5px 5px 0;
}
.iddi-side-message * {
  white-space: nowrap;
  max-width: 50%;
}
.iddi-side-message .icon {
  margin: 0px;
  top: 0px;
}
.iddi-side-message .msg {
  padding: 6px 5px 9px 0px;
  margin-left: 45px;
}

.iddi-bounder {
  border: outset 3px red;
  margin: -2px;
  position: absolute;
  z-index: 9999;
  -moz-border-radius: 4px;
}
.iddi-bounder div {
  background: url(/iddi/icons.png) no-repeat -264px -494px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 36px;
  height: 66px;
}

#iddi-stuff {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
}

#iddi-wrapper {
  position: relative;
  padding: 50px;
}

.iddi-dockable {
  border: dotted 1px black;
  background: #dfdfdf;
  position: fixed;
}

#iddi-dock-top {
  height: 50px;
  top: 0px;
  width: 100%;
}

#iddi-dock-left {
  height: 100%;
  width: 50px;
  left: 0px;
  top: 0px;
}

#iddi-dock-right {
  height: 100%;
  width: 50px;
  right: 0px;
  top: 0px;
}

#iddi-dock-bottom {
  height: 50px;
  bottom: 0px;
  width: 100%;
}

.iddi-dockable-toolbar {
  display: inline-block;
  border-left: solid 1px #888;
  display: inline;
  padding: 0px 8px;
}

.iddi-wizard-steps {
  border-bottom: solid 1px white;
  padding: 5px 5px 5px 5px;
  height: 1.4em;
  display: block;
  margin: 15px 0 0 0;
}
.iddi-wizard-steps li {
  float: left;
  border: #aaa 1px solid;
  padding: 3px 5px 3px 5px;
  height: 1.4em;
  bottom: -1px;
  border-bottom: solid 1px white;
  background: #777;
  color: #aaa;
  margin-top: -2px;
  margin-left: 8px;
  list-style-type: none;
  -moz-border-radius: 0 5px 0 0;
  cursor: pointer;
}
.iddi-wizard-steps li.iddi-wizard-step-active {
  background: #ccc;
  border-bottom: solid 1px #ccc;
  border-color: white;
  color: black;
  border-bottom: solid 1px #ccc;
}

.iddi-wizard-step-container {
  clear: both;
  background: #ccc;
  margin: 0px;
  padding: 6px;
  height: 290px;
  overflow: auto;
  position: relative;
}
.iddi-wizard-step-container h2 {
  margin-top: 0px;
  border-bottom: solid 1px #336;
  letter-spacing: 1px;
  font-size: 2em;
  display: block;
}
.iddi-wizard-step-container input {
  margin-top: 2px;
}
.iddi-wizard-step-container ul.iddi-chooser {
  padding: 0;
  margin: 0;
}
.iddi-wizard-step-container ul.iddi-chooser li {
  float: left;
  width: 103px;
  height: 85px;
  margin: 3px;
  border: solid 1px;
  background: white;
  text-align: center;
  list-style-type: none;
  position: relative;
}
.iddi-wizard-step-container ul.iddi-chooser input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
}
.iddi-wizard-step-container ul.iddi-chooser label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  background: #ccc;
}

.iddi-wizard-next-back {
  background: #bbb;
  border-top: solid 1px #ddd;
  text-align: right;
  padding: 4px 8px;
}
.iddi-wizard-next-back input {
  font-size: 1.3em;
  padding: 3px 20px;
  margin-left: 10px;
}
.iddi-wizard-next-back select {
  font-size: 1.3em;
  padding: 3px 3px;
  margin-left: 10px;
}

.iddi-bounder-active {
  background: #666;
  position: absolute;
  z-index: 100000;
  opacity: 0.6;
}
.iddi-bounder-active.active {
  background: #944;
}
.iddi-bounder-active.border_2 {
  background: black;
}

.iddi-bounder-active-icon {
  background: url(/iddi/icons.png) no-repeat -264px -494px;
  position: absolute;
  width: 36px;
  height: 66px;
  z-index: 100000;
  opacity: 0.6;
}

.iddi-bounder-active-name {
  font-size: 2em;
  position: absolute;
  color: white;
  z-index: 100010;
  color: black;
  background: white;
  padding: 5px;
}

.iddi-drop-downs {
  margin: 6px 0 0 0;
  padding: 0;
}
.iddi-drop-downs .disabled {
  background: white;
  opacity: 0.3;
}
.iddi-drop-downs li {
  background: #666;
  display: inline;
  position: relative;
  height: 1.5em;
  padding: 5px 12px;
  z-index: 5000;
  margin: 2px;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  -moz-border-radius: 5px 5px 0 0;
}
.iddi-drop-downs li .wb {
  background: white;
  position: absolute;
  top: 1.5em;
  left: 0px;
  height: 10px;
  z-index: 6000;
  width: 100%;
  -moz-border-radius: 5px 5px 0 0;
}
.iddi-drop-downs li:hover ul {
  display: block;
}
.iddi-drop-downs li ul {
  position: absolute;
  left: -2px;
  top: 1.5em;
  background: white;
  border: solid 2px #888;
  margin: 7px 0 0 0;
  padding: 0;
  z-index: -10;
  -moz-border-radius: 0 0 5px 5px;
}
.iddi-drop-downs li ul li {
  display: block;
  white-space: nowrap;
  height: 35px;
  color: black;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 32px;
  vertical-align: middle;
  height: 32px;
  cursor: hand;
  display: block;
  padding-right: 60px;
  -moz-border-radius: 5px;
  background: white;
  padding-left: 50px;
  position: relative;
}
.iddi-drop-downs li ul li span {
  display: block;
  width: 32px;
  height: 38px;
  left: 6px;
  float: none;
  margin-right: 6px;
  position: absolute;
}
.iddi-drop-downs li ul li:hover {
  background: #aaa;
}
.iddi-drop-downs li ul li.disabled:hover {
  background: white;
}
.iddi-drop-downs li ul li ul {
  position: absolute;
  left: 100%;
  top: -5px;
  background: white;
  border: solid 2px #888;
  margin: 7px 0 0 0;
  padding: 0;
  z-index: -10;
  -moz-border-radius: 0 0 5px 5px;
}
.iddi-drop-downs > li.active {
  background: white;
  border: solid 2px #888;
  margin: 0px;
  color: black;
  border-bottom: solid 2px white;
  z-index: 50;
}

/* Multi-level */
#iddi-image-chooser-popup img {
  height: 95px;
  margin: 5px;
}

/* Image Editor */
#image-editor-popup #image-editor-area {
  float: left;
  width: 220px;
  margin-right: 10px;
}
#image-editor-popup #image-editor-area img {
  width: 210px;
}
#image-editor-popup #file-picker {
  float: left;
  height: 340px;
  width: 350px;
  overflow: auto;
}
#image-editor-popup #file-picker img {
  margin: 6px;
  border: solid 1px black;
  width: 95px;
}
#image-editor-popup .iddi-wizard-step-container {
  height: 380px;
}

/* We want folder icons when saving a file */
.iddi-save-file-popup .file-picker select option {
  background: url(/iddi/icons.png) 2px -643px no-repeat;
  padding-left: 14px;
}

/* We want file icons when opening a file */
.iddi-open-file-popup .file-picker select option {
  background: url(/iddi/icons.png) 2px -667px no-repeat;
  padding-left: 14px;
}

/* Lets have a slightly smaller font in selects */
.file-picker select option {
  font-size: 12px;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15-Feb-2015, 23:42:52
    Author     : Jonathan
*/
#yendoi #iddi-admin-area {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  background: white;
  color: #ddd;
}
#yendoi * {
  box-sizing: border-box;
}
#yendoi #iddi-loading-message {
  padding: 20px;
  color: white;
  font-size: 20px;
}
#yendoi #iddi-admin-entities {
  width: 288px;
  background: #f6f6f6;
  color: #444;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#yendoi #iddi-admin-entities > * {
  padding: 5px 16px;
}
#yendoi #iddi-admin-entities h2 {
  margin: 15px 0 0;
  text-transform: uppercase;
  font-size: 16px;
}
#yendoi #iddi-admin-entities ul {
  margin: 0;
  padding: 0;
}
#yendoi #iddi-admin-entities li {
  list-style-type: none;
  padding: 6px;
  margin: 0;
  line-height: 16px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
#yendoi #iddi-admin-entities li > i:first-child {
  width: 38px;
  text-align: center;
  position: relative;
}
#yendoi #iddi-admin-entities li:hover {
  background: #494949;
  color: #ddd;
}
#yendoi #iddi-admin-entities li i.fa-angle-right {
  margin-right: 8px;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
}
#yendoi #iddi-admin-main-area {
  position: absolute;
  top: 0;
  left: 288px;
  height: 100%;
  right: 0;
  overflow: scroll;
  background: #dfdfdf;
}
#yendoi #iddi-admin-main-area h1 {
  background: #1ab394;
  padding: 10px 15px;
  margin: 0 1px;
  color: white;
  font-size: 20px;
  font-weight: 100;
}
#yendoi #iddi-admin-main-area h1 div {
  float: right;
  margin: -4px 0 0 4px;
}
#yendoi #iddi-admin-main-area h1 div i {
  font-size: 12px;
  padding: 5px 15px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background: #1ab394;
  margin-left: 5px;
}
#yendoi #iddi-admin-main-area h1 div a {
  color: white;
}
#yendoi #iddi-admin-main-area h1 div i span {
  font-family: "Open Sans",arial;
  margin-left: 5px;
}
#yendoi #iddi-admin-main-area p.y-helptext {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#yendoi #iddi-admin-main-area table {
  border-spacing: 1px;
  width: 100%;
  padding: 15px;
}
#yendoi #iddi-admin-main-area table th {
  background: #ddd;
  color: #444;
  text-align: left;
  padding: 8px 3px;
}
#yendoi #iddi-admin-main-area table th:first-child {
  width: 1px;
  min-width: 50px;
  text-align: right;
}
#yendoi #iddi-admin-main-area table tr td {
  background: white;
  color: #444;
  padding: 4px;
  cursor: pointer;
  vertical-align: top;
}
#yendoi #iddi-admin-main-area table tr td:first-child {
  background: #ddd;
  color: #444;
  text-align: right;
}
#yendoi #iddi-admin-main-area table tr:nth-child(odd) td {
  background: #f7f7f7;
}
#yendoi #iddi-admin-main-area table tr:nth-child(odd) td:first-child {
  background: #ddd;
  color: #444;
  text-align: right;
}
#yendoi form {
  background: #f2f2f2;
  margin: 1px;
}
#yendoi form h2 {
  color: #444;
  margin: -4px 0 0 0;
  padding: 15px 15px 15px 15px;
  text-transform: uppercase;
  font-size: 23px;
  background: #ddd;
}
#yendoi form fieldset {
  border: none;
  margin: 0;
  padding: 0 1rem;
}
#yendoi form fieldset label, #yendoi form fieldset .iddi-label {
  display: block;
  padding: 0.5rem 0;
  border-bottom: solid 1px #dfdfdf;
  margin: 3px 0;
  vertical-align: middle;
  line-height: 41px;
  font-weight: 500;
}
#yendoi form fieldset label > span, #yendoi form fieldset .iddi-label > span {
  text-transform: uppercase;
  display: inline-block;
  width: 20%;
  max-width: 150px;
  text-align: right;
  margin-right: -4px;
  color: #444;
  vertical-align: top;
  border-right: solid 4px #ccc;
  padding-right: 10px;
}
#yendoi form fieldset label > span.y-readonly-value, #yendoi form fieldset .iddi-label > span.y-readonly-value {
  color: #444;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 100;
  border: none;
  text-align: left;
}
#yendoi form fieldset label > span.help, #yendoi form fieldset .iddi-label > span.help {
  display: block;
  font-size: 0.8rem;
  width: auto;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  text-align: left;
  max-width: none;
  text-transform: none;
  line-height: 1.2rem;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.8);
}
#yendoi form fieldset label > div, #yendoi form fieldset .iddi-label > div {
  display: inline-block;
  color: #222;
  font-size: 1.1rem;
  width: 75%;
  position: relative;
}
#yendoi form fieldset label label.iddi-radio, #yendoi form fieldset .iddi-label label.iddi-radio {
  display: inline-block;
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 4px 5px 4px 4px;
  margin-right: 5px;
}
#yendoi form fieldset label label.iddi-radio input, #yendoi form fieldset .iddi-label label.iddi-radio input {
  position: relative;
  top: 2px;
}
#yendoi form fieldset label label.iddi-radio span, #yendoi form fieldset .iddi-label label.iddi-radio span {
  width: auto;
  margin-left: 2px;
}
#yendoi form fieldset label input, #yendoi form fieldset .iddi-label input {
  display: inline-block;
  padding: 13px 5px;
  border: solid 1px #ccc;
}
#yendoi form fieldset label input[type="file"], #yendoi form fieldset .iddi-label input[type="file"] {
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
}
#yendoi form fieldset label select, #yendoi form fieldset .iddi-label select {
  display: inline-block;
  padding: 11px 5px;
  border: solid 1px #ccc;
}
#yendoi form fieldset label img, #yendoi form fieldset .iddi-label img {
  min-height: 40px;
  width: auto;
}
#yendoi form fieldset label.iddi-text-field input, #yendoi form fieldset .iddi-label.iddi-text-field input {
  width: 75%;
}
#yendoi form fieldset label.iddi-numeric-field, #yendoi form fieldset .iddi-label.iddi-numeric-field {
  width: 30%;
  display: inline-block;
  margin-right: 3%;
}
#yendoi form fieldset label.iddi-numeric-field input, #yendoi form fieldset .iddi-label.iddi-numeric-field input {
  width: 30px;
}
#yendoi form fieldset label textarea, #yendoi form fieldset .iddi-label textarea {
  width: 75%;
  min-height: 200px;
  padding: 3px 5px;
  border: solid 1px #ccc;
}
#yendoi .iddi-form-tabs {
  display: block;
}
#yendoi .iddi-form-tabs ul {
  margin: 0;
  padding: 0;
  background: #444;
}
#yendoi .iddi-form-tabs li {
  margin: 0;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
}
#yendoi .iddi-form-tabs li.active {
  background: white;
  color: #222;
}

html {
  transition: all 0.3s ease;
}
html.showing-right-panel {
  position: absolute;
  left: 0;
  right: 320px;
}
html.showing-left-panel {
  position: absolute;
  left: 320px;
  right: 0;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16-Feb-2015, 22:42:04
    Author     : Jonathan
*/
#iddi-admin-area #iddi-admin-main-area .dashboard-row {
  display: flex;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-jumbotron .jumbotron-graphic {
  display: inline-block;
  flex: 1;
  max-width: 200px;
  text-align: center;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-jumbotron .jumbotron-graphic .fa {
  font-size: 8rem;
  vertical-align: middle;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-jumbotron .y-jumbotron-content {
  align-self: flex-start;
  flex: 1;
  max-width: none;
  color: #444;
  padding: 0 1rem;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-jumbotron .y-jumbotron-content p {
  color: #444;
  font-size: 0.8rem;
  margin: 5px 0;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-jumbotron .y-jumbotron-content h1 + p {
  font-size: 1rem;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-dashboard-component {
  background: white;
  min-height: 100px;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-dashboard-component h1 {
  color: #1ab394;
  border-bottom: solid 1px #dfdfdf;
  padding: 10px 0;
  background: none;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-dashboard-component h2, #iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-dashboard-component h3, #iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-dashboard-component h4 {
  font-size: 1rem;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-dashboard-component button {
  float: right;
  color: white;
  background-color: #1ab394;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-dashboard-component nav {
  margin-top: 0.5rem;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-dashboard-component nav a {
  display: block;
  color: #444;
  padding: 0.5rem;
  padding-left: 30px;
  margin: 0 -0.5rem;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-dashboard-component nav a:hover {
  background: #ccc;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-dashboard-component nav a i {
  margin-left: -20px;
  color: #777;
  width: 16px;
  display: inline-block;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-headline {
  position: relative;
  padding-bottom: 15px;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-headline p {
  color: #444;
  margin: 0;
  padding: 15px 10px 0 0;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-headline p.iddi-headline-figure {
  font-size: 34px;
  font-weight: bold;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-headline p.iddi-headline-subtitle {
  font-size: 16px;
  font-weight: 100;
  padding: 5px 0;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-headline p.iddi-velocity-figure {
  position: absolute;
  bottom: 15px;
  right: 5px;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-headline p.iddi-velocity-figure.iddi-velocity-up {
  color: #1ab394;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-headline p.iddi-velocity-figure.iddi-velocity-down {
  color: #ed5565;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-headline p.iddi-velocity-figure.iddi-velocity-steady {
  color: #1c84c6;
}
#iddi-admin-area #iddi-admin-main-area .dashboard-row .iddi-component-headline p.y-sparkline {
  position: absolute;
  bottom: 45px;
  right: 5px;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder {
  flex: 1;
  margin: 1px;
  background: white;
  padding: 10px;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-2 {
  flex: 2;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-3 {
  flex: 3;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-4 {
  flex: 4;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-5 {
  flex: 5;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-6 {
  flex: 6;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-7 {
  flex: 7;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-8 {
  flex: 8;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-9 {
  flex: 9;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-10 {
  flex: 10;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-11 {
  flex: 11;
}
#iddi-admin-area #iddi-admin-main-area .y-dashboard-component-holder.y-flex-12 {
  flex: 12;
}

#iddi-admin-area #iddi-admin-main-area table {
  border-collapse: collapse;
}
#iddi-admin-area #iddi-admin-main-area table tr td, #iddi-admin-area #iddi-admin-main-area table tr th {
  border-bottom: solid 1px #999;
  padding: 10px 6px;
  transition: all 0.25s linear;
  border-right: solid 1px #ccc;
  border-left: solid 1px #ccc;
  font-size: 13px;
}
#iddi-admin-area #iddi-admin-main-area table tr td.focus, #iddi-admin-area #iddi-admin-main-area table tr td:focus, #iddi-admin-area #iddi-admin-main-area table tr th.focus, #iddi-admin-area #iddi-admin-main-area table tr th:focus {
  background: #aaa !important;
}
#iddi-admin-area #iddi-admin-main-area table tr td.action {
  background: #ddd !important;
  text-align: center;
}
#iddi-admin-area #iddi-admin-main-area table tr td.action i {
  font-size: 1.4em;
}
#iddi-admin-area #iddi-admin-main-area table tr td.keyfield {
  font-size: 16px;
  font-weight: bold;
}
#iddi-admin-area #iddi-admin-main-area table tr th {
  vertical-align: bottom;
  width: 1px;
  padding-top: 15px;
  text-transform: uppercase;
  border-bottom: solid 4px #444;
  background-color: #f2f2f2;
  border-left: none;
  border-right: solid 1px #f0f0f0;
}
#iddi-admin-area #iddi-admin-main-area table tr th.text {
  width: 10px;
}

#iddi-admin-area .tabs > ul {
  margin: 0;
  padding: 0;
  background: #ccc;
  line-height: 38px;
}
#iddi-admin-area .tabs > ul li {
  display: inline-block;
  margin: 0 1px;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
#iddi-admin-area .tabs > ul li.active {
  background: white;
  position: relative;
  top: 2px;
}
#iddi-admin-area .tabs > div {
  height: 300px;
  overflow: auto;
  display: none;
}
#iddi-admin-area .tabs > div.active {
  display: block;
}
#iddi-admin-area .tabs.y-form-tabs li {
  color: #444;
}
#iddi-admin-area .tabs.y-form-tabs li.active {
  background: #f2f2f2;
}
#iddi-admin-area .tabs.y-form-tabs > div {
  height: auto;
}
#iddi-admin-area .htmleditor, #iddi-admin-area textarea {
  height: 300px;
  overflow: auto;
  border: solid 1px #ccc;
  background: white;
  padding: 10px;
}
#iddi-admin-area textarea {
  width: 100% !important;
}

#y-banner {
  position: fixed;
  top: 75px;
  right: -400px;
  padding: 0 15px;
  opacity: 0;
  background: #1a94b3;
  -webkit-transition: all 0.5s linear;
  color: white;
  line-height: 60px;
  font-size: 20px;
  z-index: 200000000000;
}
#y-banner > * {
  -webkit-transition: all 0.25s linear;
  opacity: 0;
  margin-left: 15px;
}
#y-banner.y-open {
  height: 60px;
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.15s linear;
}
#y-banner.y-open > * {
  opacity: 1;
  margin-left: 0px;
}
#y-banner.error {
  background: #b3241a;
}
#y-banner.y-next-message > * {
  opacity: 0;
  margin-left: 5px;
}
#y-banner.y-prep-message > * {
  opacity: 0;
  margin-left: -5px;
}
#y-banner i {
  margin: 0 7px;
}

yendoi .y-image-chooser {
  display: inline-block;
}
yendoi .y-image-chooser button {
  float: right;
  height: 40px;
}
yendoi #yendoi-image-manager {
  position: fixed;
  width: 320px;
  right: 0;
  bottom: 0;
  top: 50px;
  background: #f6f6f6;
  color: #ddd;
  z-index: 9999999999;
  display: none;
  border-left: solid 1px #444;
}
yendoi #yendoi-image-manager h2 {
  font-weight: normal;
  padding: 5px 10px;
  font-size: 15px;
  margin: 0;
  color: #444;
}
yendoi #yendoi-image-manager select {
  width: 100%;
}
yendoi #yendoi-image-manager ul {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  position: absolute;
  top: 100px;
  bottom: 0;
  text-align: center;
}
yendoi #yendoi-image-manager ul li {
  margin: 0;
  padding: 3px;
  list-style-type: none;
  display: inline-block;
}
yendoi #yendoi-image-manager ul li img {
  height: 100px;
  width: auto;
}
yendoi #yendoi-image-manager ul li img:hover {
  outline: 1px solid #444;
}
yendoi #yendoi-image-manager.y-open {
  display: block;
}
yendoi #yendoi-image-manager dl {
  color: #444;
  font-size: 12px;
}
yendoi #yendoi-image-manager dl dt {
  width: 32%;
  text-align: right;
  font-weight: bold;
  margin: 5px 0;
  display: inline-block;
}
yendoi #yendoi-image-manager dl dd {
  width: 65%;
  padding-left: 3%;
  margin: 5px 0;
  display: inline-block;
}
yendoi #yendoi-image-manager .iddi-fixed-toolbar {
  width: 100%;
}
yendoi #yendoi-image-manager #library-library .iddi-fixed-toolbar {
  position: absolute;
  z-index: 2;
}
yendoi #yendoi-image-manager #library-library ul {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  position: absolute;
  top: 100px;
  bottom: 0;
  text-align: center;
}
yendoi #yendoi-image-manager #library-library ul li {
  margin: 0;
  padding: 3px;
  list-style-type: none;
  display: inline-block;
}
yendoi #yendoi-image-manager #library-library ul li img {
  height: 100px;
  width: auto;
}
yendoi #yendoi-image-manager #library-library ul li img:hover {
  outline: 1px solid #444;
}

#yendoi .y-paginator {
  margin: 10px;
}
#yendoi .y-paginator button {
  padding: 5px;
  margin: 0;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
}
#yendoi .y-paginator button:hover {
  background: #6a94b3;
}
#yendoi .y-paginator button.y-active-page {
  background: #1a94b3;
}

yendoi .y-search-bar {
  background: #1ab394;
  color: white;
  font-size: 21px;
  padding: 10px 15px;
  margin: 1px;
}
yendoi .y-search-bar input, yendoi .y-search-bar select {
  padding: 4px;
  border: solid 1px #ccc;
  margin-left: 5px;
  height: 35px;
  max-width: 150px;
}
yendoi .y-search-bar button {
  padding: 5px 10px;
  margin: 0 20px 0 0;
  height: 36px;
  cursor: pointer;
}

#yendoi-popupmenu {
  position: absolute;
  z-index: 10000009;
}

span#y-fieldname {
  margin-left: 10px;
  text-transform: uppercase;
}

.y-hide {
  display: none;
}

yendoi * {
  font-family: "FiraSans",Helvetica,Arial,Geneva,sans-serif;
}

#iddi-main-toolbar {
  position: fixed;
  top: 0px;
  width: 100%;
}

#iddi-main-toolbar,
.iddi-toolbar,
.iddi-fixed-toolbar,
.iddi-floating-toolbar,
.flex-toolbar {
  margin: 0;
  padding: 0;
  background: #444444;
}
#iddi-main-toolbar h6,
.iddi-toolbar h6,
.iddi-fixed-toolbar h6,
.iddi-floating-toolbar h6,
.flex-toolbar h6 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 120px;
  height: 50px;
  background: url(/iddi/icons.png) no-repeat 0 -512px;
  float: left;
  margin: -2px 0px 0px 0px;
  padding: 0px;
}
#iddi-main-toolbar h6 span,
.iddi-toolbar h6 span,
.iddi-fixed-toolbar h6 span,
.iddi-floating-toolbar h6 span,
.flex-toolbar h6 span {
  display: none;
}
#iddi-main-toolbar h2,
.iddi-toolbar h2,
.iddi-fixed-toolbar h2,
.iddi-floating-toolbar h2,
.flex-toolbar h2 {
  font-weight: normal;
  padding: 5px;
  font-size: 15px;
}
#iddi-main-toolbar i,
.iddi-toolbar i,
.iddi-fixed-toolbar i,
.iddi-floating-toolbar i,
.flex-toolbar i {
  color: white;
  font-size: 14px;
  padding: 15px;
  line-height: 19px;
  min-width: 46px;
  min-height: 50px;
  white-space: nowrap;
  position: relative;
}
#iddi-main-toolbar i > span,
.iddi-toolbar i > span,
.iddi-fixed-toolbar i > span,
.iddi-floating-toolbar i > span,
.flex-toolbar i > span {
  margin-left: 12px;
  font-family: "FiraSans",Arial;
  padding-right: 7px;
}
#iddi-main-toolbar i .yendoi-changelog-count,
.iddi-toolbar i .yendoi-changelog-count,
.iddi-fixed-toolbar i .yendoi-changelog-count,
.iddi-floating-toolbar i .yendoi-changelog-count,
.flex-toolbar i .yendoi-changelog-count {
  background: red;
  color: white;
  font-size: 11px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 5px;
  right: 0;
  display: none;
  text-align: center;
  line-height: 21px;
}
#iddi-main-toolbar i[y-cmd]:hover,
.iddi-toolbar i[y-cmd]:hover,
.iddi-fixed-toolbar i[y-cmd]:hover,
.iddi-floating-toolbar i[y-cmd]:hover,
.flex-toolbar i[y-cmd]:hover {
  background: #626262;
}
#iddi-main-toolbar i.fixed,
.iddi-toolbar i.fixed,
.iddi-fixed-toolbar i.fixed,
.iddi-floating-toolbar i.fixed,
.flex-toolbar i.fixed {
  padding-right: 10px;
  border-right: solid 1px #999;
}
#iddi-main-toolbar i:hover,
.iddi-toolbar i:hover,
.iddi-fixed-toolbar i:hover,
.iddi-floating-toolbar i:hover,
.flex-toolbar i:hover {
  cursor: pointer;
  background: #666;
}
#iddi-main-toolbar i.y-active,
.iddi-toolbar i.y-active,
.iddi-fixed-toolbar i.y-active,
.iddi-floating-toolbar i.y-active,
.flex-toolbar i.y-active {
  background: #f6f6f6;
  color: #333;
}
#iddi-main-toolbar i.y-dropdown,
.iddi-toolbar i.y-dropdown,
.iddi-fixed-toolbar i.y-dropdown,
.iddi-floating-toolbar i.y-dropdown,
.flex-toolbar i.y-dropdown {
  position: relative;
  z-index: 2;
}
#iddi-main-toolbar i.y-dropdown > div,
.iddi-toolbar i.y-dropdown > div,
.iddi-fixed-toolbar i.y-dropdown > div,
.iddi-floating-toolbar i.y-dropdown > div,
.flex-toolbar i.y-dropdown > div {
  display: none;
}
#iddi-main-toolbar i.y-dropdown.y-dropdown-open,
.iddi-toolbar i.y-dropdown.y-dropdown-open,
.iddi-fixed-toolbar i.y-dropdown.y-dropdown-open,
.iddi-floating-toolbar i.y-dropdown.y-dropdown-open,
.flex-toolbar i.y-dropdown.y-dropdown-open {
  background: #555;
}
#iddi-main-toolbar i.y-dropdown.y-dropdown-open > div,
.iddi-toolbar i.y-dropdown.y-dropdown-open > div,
.iddi-fixed-toolbar i.y-dropdown.y-dropdown-open > div,
.iddi-floating-toolbar i.y-dropdown.y-dropdown-open > div,
.flex-toolbar i.y-dropdown.y-dropdown-open > div {
  background: #555;
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
}
#iddi-main-toolbar i.y-dropdown.y-dropdown-open i,
.iddi-toolbar i.y-dropdown.y-dropdown-open i,
.iddi-fixed-toolbar i.y-dropdown.y-dropdown-open i,
.iddi-floating-toolbar i.y-dropdown.y-dropdown-open i,
.flex-toolbar i.y-dropdown.y-dropdown-open i {
  display: block;
  text-align: left;
  max-width: none;
}
#iddi-main-toolbar select,
.iddi-toolbar select,
.iddi-fixed-toolbar select,
.iddi-floating-toolbar select,
.flex-toolbar select {
  border: none;
  background: #444;
  color: white;
  font-size: 15px;
  padding-left: 10px;
}
#iddi-main-toolbar select option,
.iddi-toolbar select option,
.iddi-fixed-toolbar select option,
.iddi-floating-toolbar select option,
.flex-toolbar select option {
  padding: 5px;
}
#iddi-main-toolbar .y-confirm,
.iddi-toolbar .y-confirm,
.iddi-fixed-toolbar .y-confirm,
.iddi-floating-toolbar .y-confirm,
.flex-toolbar .y-confirm {
  background: #090;
  float: right;
}
#iddi-main-toolbar .y-confirm:hover,
.iddi-toolbar .y-confirm:hover,
.iddi-fixed-toolbar .y-confirm:hover,
.iddi-floating-toolbar .y-confirm:hover,
.flex-toolbar .y-confirm:hover {
  background: #0a0;
}
#iddi-main-toolbar .y-cancel,
.iddi-toolbar .y-cancel,
.iddi-fixed-toolbar .y-cancel,
.iddi-floating-toolbar .y-cancel,
.flex-toolbar .y-cancel {
  float: right;
}

.iddi-floating-toolbar {
  position: absolute;
  z-index: 10000009;
  color: white;
  white-space: nowrap;
}

.iddi-fixed-toolbar {
  display: inline-block;
}
.iddi-fixed-toolbar i {
  -webkit-transition: all 0.25s linear;
}
.iddi-fixed-toolbar.y-preplinks i {
  opacity: 0;
  -webkit-transform: scale(0.95);
  -webkit-transition: all 0.25s linear;
}
.iddi-fixed-toolbar.y-preplinks i .y-clicked {
  -webkit-animation-delay: 0.1s;
  -webkit-transform: scale(1.1);
}
.iddi-fixed-toolbar.y-nolinks i {
  opacity: 0;
  -webkit-transform: scale(1.05);
  -webkit-transition: all 0.25s linear;
}

.flex-toolbar {
  display: flex;
}
.flex-toolbar > * {
  flex: 1;
}

#html_selection_toolbar .fa-caret-down {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -8px;
  margin-top: -10px;
  font-size: 24px;
  color: #444;
}

html[yendoi-mode=admin] {
  overflow: hidden;
}
html[yendoi-mode=admin] body {
  display: none;
}

html[yendoi-mode=edit] #yendoi {
  z-index: 100000009;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

#y-tooltip {
  position: absolute;
  z-index: 99999999999;
}
#y-tooltip .fa {
  position: absolute;
  color: #444;
  font-size: 30px;
}
#y-tooltip.y-tooltip-arrow-top-left .fa-caret-left,
#y-tooltip.y-tooltip-arrow-top-left .fa-caret-right,
#y-tooltip.y-tooltip-arrow-top-left .fa-caret-down {
  display: none;
}
#y-tooltip.y-tooltip-arrow-top-left .fa-caret-up {
  top: 0;
  left: 20px;
  display: block;
}
#y-tooltip.y-tooltip-arrow-top-right .fa-caret-left,
#y-tooltip.y-tooltip-arrow-top-right .fa-caret-right,
#y-tooltip.y-tooltip-arrow-top-right .fa-caret-down {
  display: none;
}
#y-tooltip.y-tooltip-arrow-top-right .fa-caret-up {
  top: 0;
  right: 20px;
  display: block;
}
#y-tooltip.y-tooltip-arrow-bottom-left .fa-caret-left,
#y-tooltip.y-tooltip-arrow-bottom-left .fa-caret-right,
#y-tooltip.y-tooltip-arrow-bottom-left .fa-caret-down {
  display: none;
}
#y-tooltip.y-tooltip-arrow-bottom-left .fa-caret-up {
  top: 100%;
  left: 20px;
  display: block;
}
#y-tooltip.y-tooltip-arrow-bottom-right .fa-caret-left,
#y-tooltip.y-tooltip-arrow-bottom-right .fa-caret-right,
#y-tooltip.y-tooltip-arrow-bottom-right .fa-caret-down {
  display: none;
}
#y-tooltip.y-tooltip-arrow-bottom-right .fa-caret-up {
  top: 100%;
  right: 20px;
  display: block;
}
#y-tooltip p {
  width: 300px;
  padding: 15px;
  background: #444;
  color: #ddd;
  margin: 20px;
}

yendoi #side-panels > div {
  position: fixed;
  width: 320px;
  right: 0;
  bottom: 0;
  top: 50px;
  background: #f6f6f6;
  color: #ddd;
  z-index: 9999999999;
  display: none;
  border-left: solid 1px #444;
}
yendoi #side-panels > div h2 {
  font-weight: normal;
  padding: 5px 10px;
  font-size: 15px;
  margin: 0;
  color: #444;
}
yendoi #side-panels > div select {
  width: 100%;
}
yendoi #side-panels > div.y-open {
  display: block;
}
yendoi #side-panels > div dl {
  color: #444;
  font-size: 12px;
}
yendoi #side-panels > div dl dt {
  width: 32%;
  text-align: right;
  font-weight: bold;
  margin: 5px 0;
  display: inline-block;
}
yendoi #side-panels > div dl dd {
  width: 65%;
  padding-left: 3%;
  margin: 5px 0;
  display: inline-block;
}
yendoi #side-panels > div .iddi-fixed-toolbar {
  width: 100%;
}
yendoi #side-panels > div #library-library .iddi-fixed-toolbar {
  position: absolute;
  z-index: 2;
}
yendoi .fa-close {
  position: absolute;
  right: 10px;
  line-height: 30px;
}

#selection-marker-left,
#selection-marker-right {
  height: 15px;
  width: 2px;
  border-left: solid 2px #444;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#selection-marker-left.visible,
#selection-marker-right.visible {
  display: block;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Feb-2016, 23:33:11
    Author     : Jonathan
*/
#internal-links ul {
  margin: 0;
  max-height: 70%;
  overflow-y: auto;
}
#internal-links li {
  background: #777;
  color: white;
  text-align: left;
  border-bottom: #444;
  margin: 0;
  padding: 0.5rem;
  font-size: 0.9rem;
  list-style-type: none;
}
#internal-links li i {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}
#internal-links li i:hover {
  color: #aaa;
}
#internal-links li.selected {
  background: #444;
}
#internal-links li.up {
  border-bottom: solid 1px white;
  text-transform: uppercase;
}
#internal-links form {
  position: relative;
  height: 80%;
}
#internal-links form ul {
  max-height: 80%;
  overflow-y: auto;
}

/*# sourceMappingURL=iddi.css.map */
